<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

	<%= render partial: "shared/form_errors", locals: {model: @model} %>

	<ul class="nav nav-tabs">
		<% if can? :manage, ReceiptEmail.new %>
			<li idshared="tab_0_title" class="active clickable"><a><%= t('activerecord.models.receipt_email.one') %></a></li>
		<% end %>
		<% if can? :manage, ProductAndServiceEmail.new %>
			<li id="tab_1_title" class="active clickable"><a><%= t('activerecord.models.product_and_service_email.one') %></a></li>
		<% end %>
	</ul>

	<div class="container-fluid tab_body">

		<% if can? :manage, ReceiptEmail.new %>
			<div id="tab_0" class="contact_tab">
				<div class="form-group">
					<%= f.label :re_title %>
					<span style="float:right">
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
						            <div class="btn-group">
						                <button type="button" class="btn btn-primary btn-xs" id="add_company_to_re_title_btn"><%= i18n.t :company %></button>
						                <button type="button" class="btn btn-primary btn-xs" id="add_value_to_re_title_btn"><%= i18n.t :value %></button>
						                <button type="button" class="btn btn-primary btn-xs" id="add_competence_to_re_title_btn"><%= i18n.t :competence %></button>
						            </div>
						<% end %>
					</span>
					<%= f.text_field :re_title, :class => "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :re_body %> <i><%= t('helpers.system_setting.its_a_suggestion') %></i>
					<span style="float:right">
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
						            <div class="btn-group">
						                <button type="button" class="btn btn-primary btn-xs" id="add_company_to_re_body_btn"><%= i18n.t :company %></button>
						                <button type="button" class="btn btn-primary btn-xs" id="add_value_to_re_body_btn"><%= i18n.t :value %></button>
						                <button type="button" class="btn btn-primary btn-xs" id="add_competence_to_re_body_btn"><%= i18n.t :competence %></button>
						            </div>
						<% end %>
					</span>
					<%= f.text_area :re_body, size: "24x6", :class => 'form-control' %>
				</div>
			</div>
		<% end %>
		<% if can? :manage, ProductAndServiceEmail.new %>
			<div id="tab_1" class="contact_tab">

				<div class="container-fluid padless">
					<div class="row">
						<div class="col-md-5">
							<%= render partial: 'shared/email_address_table', locals: {f: f, model: @model, field_name: 'pse_recipients_array'} %>
						</div>
						<div class="col-md-7">

							<div class="container-fluid padless">
								<div class="row">

									<div class="col-sm-5 form-group">
										<%= f.label :pse_day_of_month %>
										<%= f.text_field :pse_day_of_month, :class => 'form-control day_of_month' %>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :pse_title %>
					<span style="float:right">
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_title_btn"><%= i18n.t :competence %></button>
						</div>
						<% end %>
					</span>
					<%= f.text_field :pse_title, :class => "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :pse_body %>
					<span style="float:right">
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_body_btn"><%= i18n.t :competence %></button>
						</div>
						<% end %>
					</span>
					<%= f.text_area :pse_body, size: "24x6", :class => 'form-control' %>
				</div>
			</div>
		<% end %>
	</div>

	<%= render partial: "shared/form_buttons", locals: {model: @model, f: f} -%>

<% end %>

<%= render partial: "shared/form_commons", locals: {model: @model} %>

<script>

	function preprocess_data()
	{

	}

	<% for t in 0..1 do %>
		$('#tab_<%= t %>_title').on('click', function()
		{
			hide_all_tabs_except(<%= t %>);
		});
	<% end %>

	function hide_all_tabs_except(tab_id)
	{
		for(i = 0; i <= 2; ++i) {
			$('#tab_' + i + '_title').removeClass('active');
			$('#tab_' + i).hide();
		}

		$('#tab_' + tab_id).show();
		$('#tab_' + tab_id + '_title').addClass('active');
	};

	$(function() {
		$("#add_company_to_re_title_btn").on('click', function() {add_tag_to_field('system_setting_re_title', '<%= t('tags.company') %>')});
		$("#add_value_to_re_title_btn").on('click', function() {add_tag_to_field('system_setting_re_title', '<%= t('tags.value') %>')});
		$("#add_competence_to_re_title_btn").on('click', function() {add_tag_to_field('system_setting_re_title', '<%= t('tags.competence') %>')});
		$("#add_company_to_re_body_btn").on('click', function() {add_tag_to_field('system_setting_re_body', '<%= t('tags.company') %>')});
		$("#add_value_to_re_body_btn").on('click', function() {add_tag_to_field('system_setting_re_body', '<%= t('tags.value') %>')});
		$("#add_competence_to_re_body_btn").on('click', function() {add_tag_to_field('system_setting_re_body', '<%= t('tags.competence') %>')});

		$("#add_competence_to_pse_body_btn").on('click', function() {add_tag_to_field('system_setting_pse_body', '<%= t('tags.competence') %>')});
		$("#add_competence_to_pse_title_btn").on('click', function() {add_tag_to_field('system_setting_pse_title', '<%= t('tags.competence') %>')});
	});

	$('#add_recipient_btn').on('click', function() {

		email_address = $('#new_recipient_field').val();

		if (!$('#new_recipient_field').val())
		{
			display_form_errors('<%= t('alert.email.fill_a_recipient') %>');

		} else if(already_present(email_address))
		{
			display_form_errors('<%= t('alert.email.duplicated_recipient') %>');
		} else if (validate_recipient_email(email_address))
		{
			line = '<tr id="email_address_' + temp_id + '"><td class="recipient_id" style="display:none;">' + temp_id + '</td><td class="recipient_email">' + email_address + '</td><td class="button-wrapper"><%= link_to image_tag("delete.png", :title =>  t('helpers.action.remove'), :class => 'remove_btn'), 'javascript:void(0)', :class => 'remove_recipient_btn remove_btn' %></td></tr>';
			$('#recipients_table > tbody:last-child').append(line);
			temp_id = temp_id - 1;

			hide_all_messages();
			$('#new_recipient_field').val('');
		} else
		{
			display_form_errors('<%= t('alert.email.invalid_recipient') %>');
		}
	});
</script>