<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<!-- Tabs headers -->
	<ul class="nav nav-tabs">
		<li id="main_tab_0_title"><a><%= t('helpers.general') %></a></li>
		<% if can? :manage, ReceiptEmail.new %>
			<li id="main_tab_1_title"><a><%= t('activerecord.models.receipt_email.one') %></a></li>
		<% end %>
		<% if can? :manage, ProductAndServiceDatum.new %>
			<li id="main_tab_2_title"><a><%= t('activerecord.models.product_and_service_datum.one') %></a></li>
		<% end %>
	</ul>

	<!-- Tabs bodies -->
	<div class="container-fluid tab_body">

		<div id="main_tab_0" class="general_tab">
			<div class='row'>
				<div class='form-group col-md-6'>
					<%= f.label :city %>
					<%= f.text_field :city, class: 'form-control' %>
				</div>
			</div>
		</div>
		<!-- Receipt e-mail tab body -->
		<% if can? :manage, ReceiptEmail.new %>
			<div id="main_tab_1" class="receipt_email_tab">
				<div class="form-group">
					<%= f.label :re_title %>
					<div class="tag-buttons">
						<%= user_help_btn 'receipt_title_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_maintainer_to_re_title_btn"><%= i18n.t :maintainer %></button>
								<button type="button" class="btn btn-primary btn-xs" id="add_value_to_re_title_btn"><%= i18n.t :value %></button>
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_re_title_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_field :re_title, class: 'form-control' %>
				</div>
			</div>
		<% end %>

		<!-- Product and service datum tab body -->
		<% if can? :manage, ProductAndServiceDatum.new %>
			<div id="main_tab_2" class="prod_serv_email_tab">

				<div class="container-fluid padless">
					<div class="row">
						<div class="col-md-6">
							<%= render 'shared/email_address_table', f: f, model: @model, field_name: 'pse_recipients_array' %>
						</div>
						<div class="col-md-6">
							<%= render 'shared/email_address_table', f: f, model: @model, field_name: 'pse_private_recipients_array', method_name: 'private_recipients_as_array' %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :pse_title %>
					<div class="tag-buttons">
						<%= user_help_btn 'pse_title_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_title_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_field :pse_title, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :pse_body %>
					<div class="tag-buttons">
						<%= user_help_btn 'pse_body_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_body_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_area :pse_body, size: '24x6', class: 'form-control' %>
				</div>
			</div>
		<% end %>
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	</div>
<% end %>

<%= render 'shared/tab_commons', tab_type: 'main', number_of_tabs: 3 %>
<%= render 'shared/form_commons', hide_audit: Rails.env.showcase? %>

<script>

	$(() => {
		$("#add_maintainer_to_re_title_btn").on('click', () => add_tag_to_field('system_setting_re_title', '<%= t('tags.maintainer') %>'));
		$("#add_value_to_re_title_btn").on('click', () => add_tag_to_field('system_setting_re_title', '<%= t('tags.value') %>'));
		$("#add_competence_to_re_title_btn").on('click', () => add_tag_to_field('system_setting_re_title', '<%= t('tags.competence') %>'));
		$("#add_maintainer_to_re_body_btn").on('click', () => add_tag_to_field('system_setting_re_body', '<%= t('tags.maintainer') %>'));
		$("#add_value_to_re_body_btn").on('click', () => add_tag_to_field('system_setting_re_body', '<%= t('tags.value') %>'));
		$("#add_competence_to_re_body_btn").on('click', () => add_tag_to_field('system_setting_re_body', '<%= t('tags.competence') %>'));

		$("#add_competence_to_pse_body_btn").on('click', () => add_tag_to_field('system_setting_pse_body', '<%= t('tags.competence') %>'));
		$("#add_competence_to_pse_title_btn").on('click', () => add_tag_to_field('system_setting_pse_title', '<%= t('tags.competence') %>'));

		$('#receipt_title_tag_help_btn, #pse_title_tag_help_btn, #pse_body_tag_help_btn	').click( e => 
			display_confirm_modal('<%= I18n.t 'modal.title.info' %>', '<%= I18n.t 'user_help_messages.tag_buttons' %>'));
	});

	const preprocess_data = () => {
		if(transient_recipients > 0) {
			window.any_changes = true;
		}

		$('#system_setting_pse_recipients_array').val(pse_recipients_array_formated_recipients('pse_recipients_array'));
		$('#system_setting_pse_private_recipients_array').val(pse_private_recipients_array_formated_recipients('pse_private_recipients_array'));
	}

	$('#main_form').on('submit', e => preprocess_data());

</script>