<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<!-- Tabs headers -->
	<ul class="nav nav-tabs">
		<li id="main_tab_0_title"><a><%= t('helpers.general') %></a></li>
		<% if can? :manage, ReceiptEmail.new %>
			<li id="main_tab_1_title"><a><%= t('activerecord.models.receipt_email.one') %></a></li>
		<% end %>
		<% if can? :manage, ProductAndServiceDatum.new %>
			<li id="main_tab_2_title"><a><%= t('activerecord.models.product_and_service_datum.one') %></a></li>
		<% end %>
	</ul>

	<!-- Tabs bodies -->
	<div class="container-fluid tab_body">

		<div id="main_tab_0" class="main_tab tab_0">
			<div class='row'>
				<div class='form-group col-md-6'>
					<%= f.label :city %>
					<%= f.text_field :city, class: 'form-control' %>
				</div>
			</div>
		</div>
		<!-- Receipt e-mail tab body -->
		<% if can? :manage, ReceiptEmail.new %>
			<div id="main_tab_1" class="main_tab tab_1">
				<div class="form-group">
					<%= f.label :re_title %>
					<div class="tag-buttons">
						<%= user_help_btn 'receipt_title_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_maintainer_to_re_title_btn"><%= i18n.t :maintainer %></button>
								<button type="button" class="btn btn-primary btn-xs" id="add_value_to_re_title_btn"><%= i18n.t :value %></button>
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_re_title_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_field :re_title, class: 'form-control' %>
				</div>
			</div>
		<% end %>

		<!-- Product and service datum tab body -->
		<% if can? :manage, ProductAndServiceDatum.new %>
			<div id="main_tab_2" class="main_tab tab_2">

				<div class="container-fluid padless">
					<div class="row">
						<div class="col-md-6">
							<div id="pse_recipients_array_area"></div>
						</div>
						<div class="col-md-6">
							<div id="pse_private_recipients_array_area"></div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :pse_title %>
					<div class="tag-buttons">
						<%= user_help_btn 'pse_title_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_title_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_field :pse_title, class: 'form-control' %>
				</div>

				<div class="form-group">
					<%= f.label :pse_body %>
					<div class="tag-buttons">
						<%= user_help_btn 'pse_body_tag_help_btn' %>
						<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_pse_body_btn"><%= i18n.t :competence %></button>
							</div>
						<% end %>
					</div>
					<%= f.text_area :pse_body, size: '24x6', class: 'form-control' %>
				</div>
			</div>
		<% end %>
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	</div>
<% end %>

<%= render 'shared/form_commons', hide_audit: Rails.env.showcase? %>

<script>

  // TODO: This is a quick-fix due to an issue
  // with the communication between React and
  // Rails. Yeah, I know, this is *really* ugly;

  var email_first_time = [];
  email_first_time['pse_recipients_array'] = true;
  email_first_time['pse_private_recipients_array'] = true;

  var emailList = [];
  emailList['pse_recipients_array'] = <%= @model.recipients_as_array.to_json.html_safe %>.map(
    value => ({
      is_persisted: "true",
      address: value
    }));
  emailList['pse_private_recipients_array'] = <%= @model.private_recipients_as_array.to_json.html_safe %>.map(
    value => ({
      is_persisted: "true",
      address: value
    }));

</script>
