<% if user_signed_in? %>
	<%= render 'others/menu' %>

	<table id="submenu-line" class="padless">
		<tr>
			<td>
				<ol class="breadcrumb"><%= breadcrumbs %></ol>
			</td>
			<td class="pull-right visible-xs profile-xs-area">
				<%= admin_info_btn %>
			</td>
			<td class="profile-area hidden-xs" valign="top">
				<div class="right profile-box">
					<%= profile_btn %> 
					<%= admin_info_btn %> 
					<%= logout_btn %>
				</div>
			</td>
		</tr>
	</table>
<% else %>
	<!-- Login screen header -->
	<div class="centre">
		<%= image_tag "app_logo.png", class: 'login-logo', alt: t('app_data.app_title') %>
		<h2><span class="app_title"><%= t('app_data.app_title') %></span></h2>
	</div>
<% end %>