<% if Rails.env.uat? %>
    <div class="alert alert-warning">
        <div>
            <strong><%= t('attention') %>:</strong> <%= t('uat_mode_message') %>
        </div>
    </div>
<% end %>

<div id="global_warning_box" class="alert alert-warning fade in hidden">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_warning_massages">
    </div>
</div>

<div id="global_hideless_warning_box" class="alert alert-warning fade in hidden">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_hideless_warning_massages">
    </div>
</div>

<div id="global_notice_box" class="alert alert-success fade in hidden">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_notice_massages">
        <%= notice %>
    </div>
</div>

<div id="global_info_box" class="alert alert-info fade in hidden">
    <div id="global_info_massages">
        <%= info %>
    </div>
</div>

<div id="global_error_box" class="alert alert-danger fade in hidden">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_error_messages">
        <%= alert %>
    </div>
</div>

<script>

    $(() => {
        <%= showcase_login_msg %>

        <% if notice %>
            $('#global_notice_box').removeClass('hidden');
        <% end %>

        <% if flash[:info] %>
            $('#global_info_box').removeClass('hidden');
        <% end %>

        <% if alert %>
            $('#global_error_box').removeClass('hidden');
        <% end %>
    });
    
</script>