<% if Rails.env.uat? %>
    <div class="alert alert-warning">
        <div>
            <strong><%= t('attention') %>:</strong> <%= t('uat_mode_message') %>
        </div>
    </div>
<% end %>

<div id="global_warning_box" class="alert alert-warning fade in" style="display: none;">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_warning_massages">
    </div>
</div>

<div id="global_hideless_warning_box" class="alert alert-warning fade in" style="display: none;">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_hideless_warning_massages">
    </div>
</div>

<div id="global_notice_box" class="alert alert-success fade in" style="display: none;">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_notice_massages">
        <%= notice %>
    </div>
</div>

<div id="global_info_box" class="alert alert-info fade in" style="display: none;">
    <div id="global_info_massages">
        <%= info %>
    </div>
</div>

<div id="global_error_box" class="alert alert-danger fade in" style="display: none;">
    <a href="javascript:void(0)" class="close" data-hide="alert">&times;</a>
    <div id="global_error_messages">
        <%= alert %>
    </div>
</div>

<script>

    function display_error(message) {

        var result = '';

        if (Object.prototype.toString.call(message) === '[object Array]') {
            result = msg_as_html_ul(message);
        } else {
            result = message;
        }

        hide_all_messages();
        to_top();
        $('#global_error_messages').html(result);
        $('#global_error_box').show();
    }

    function display_error(message, error_box_id) {

        var result = '';

        if(!error_box_id)
            error_box_id = 'global';

        if (Object.prototype.toString.call(message) === '[object Array]') {
            result = msg_as_html_ul(message);
        } else {
            result = message;
        }

        hide_all_messages();
        $('#' + error_box_id + '_error_messages').html(result);
        $('#' + error_box_id + '_error_box').show();
    }

    function display_info(message) {
        hide_all_messages();
        to_top();
        $('#global_info_massages').html(message);
        $('#global_info_box').show();
    }

    function display_notice(message) {
        hide_all_messages();
        to_top();
        $('#global_notice_massages').html(message);
        $('#global_notice_box').show();
    }

    function display_warning(message) {
        hide_all_messages();
        to_top();
        $('#global_warning_massages').html(message);
        $('#global_warning_box').show();
    }

    function display_hideless_warning(message) {
        $('#global_hideless_warning_massages').html(message);
        $('#global_hideless_warning_box').show();
    }

    function hide_info() {
        $('#global_info_massages').html('');
        $('#global_info_box').hide();
    }

    function hide_notice() {
        $('#global_notice_massages').html('');
        $('#global_notice_box').hide();
    }

    function hide_errors_from_box(error_box_id) {
        $('#' + error_box_id + '_error_messages').html('');
        $('#' + error_box_id + '_error_box').hide();
    }

    function hide_errors() {
        $('#global_error_messages').html('');
        $('#global_error_box').hide();

        if($("#form_error_messages").length && $("#form_error_box").length)
        {
            $('#form_error_messages').html('');
            $('#form_error_box').hide();
        }
    }

    function hide_all_messages() {
        hide_info();
        hide_notice();
        hide_errors();
    }

    function parse_json_errors(xhr) {
        try {
            var json_obj = jQuery.parseJSON(xhr);

            var output = new Array();
            for (var i in json_obj)
                output.push(json_obj[i]);

            display_error(output);
        }
        catch(e) {
            if (typeof xhr === 'string' || xhr instanceof String)
                return display_error(xhr);
        }
    }

    function msg_as_html_ul(message) {
        result = '<ul>';

        for (var i = 0; i < message.length; i++)
            result += '<li>' + message[i] + '<\/li>';

        result += '<\/ul>';

        return result;
    }

    $(function() {
        <%= showcase_login_msg %>

        <% if notice %>
            $('#global_notice_box').show();
        <% end %>

        <% if flash[:info] %>
            $('#global_info_box').show();
        <% end %>

        <% if alert %>
            $('#global_error_box').show();
        <% end %>
    });
</script>