<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

	<%= render partial: "shared/form_errors", locals: {model: @model} %>

	<div class="row">
		<div class="col-md-4 form-group">

			<%= f.label :competence_date %>
			<% if f.object.persisted? %>
				<%= f.text_field '', {:class => 'form-control', :value => f.object.competence.capitalize, :readonly => true} %>
			<% else %>
				<div class="input-group date" data-behaviour='datepickercompetence' >
			     		 <%= f.text_field :competence_date, {:class => 'form-control', :id => 'competence'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			<% end %>
		</div>

		<% if f.object.persisted? %>
			<div class="col-md-4 form-group">
				<%= f.label :created_at %>
				<%= f.text_field :created_at, {:class => 'form-control', :readonly => true} %>
			</div>
		<% end %>
	</div>

	<p/>

	<div class="container-fluid padless">

		<div class="row">
			<div class="col-md-6">
				<fieldset>

					<legend><%= t 'activerecord.attributes.product_and_service_email.services' %></legend>

					<!-- Service header row -->
					<div class="row">
						<div class="col-xs-5 col-md-5 form-group">
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group centre">
							<%= f.label t 'helpers.prod_and_serv_email.checkup' %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group centre">
							<%= f.label t 'helpers.prod_and_serv_email.return' %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group centre">
							<%= f.label t 'helpers.prod_and_serv_email.total' %>
						</div>
					</div>

					<!-- Service body rows -->
					<% @model.class.services.each do |name| %>

				  		<div class="row service-row">
							<div class="col-xs-5 col-md-5 form-group">
								<%= f.label name %>
							</div>
							<div class="col-xs-2 col-md-2 nopadding form-group">
								<%= f.text_field name, :class => 'form-control input-sm service_input service_checkup', :readonly => f.object.persisted? %>
							</div>
							<div class="col-xs-2 col-md-2 nopadding form-group">
								<%= f.text_field name + '_return', :class => 'form-control input-sm service_input service_return', :readonly => f.object.persisted? %>
							</div>
							<div class="col-xs-2 col-md-2 nopadding form-group">
								<%= text_field_tag name, '', id: 'total_' + name, :class => 'form-control input-sm service_total temp_field', readonly: true %>
							</div>
						</div>

					<% end %>

					<!-- Service totals row -->
					<div class="row">
						<div class="col-xs-5 col-md-5 form-group">
							<%= label_tag t 'helpers.prod_and_serv_email.total' %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group">
							<%= text_field_tag 'total_service_checkup', 0, id: 'total_service_checkup', class: 'form-control input-sm temp_field', readonly: true %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group">
							<%= text_field_tag 'total_service_return', 0, id: 'total_service_return', class: 'form-control input-sm temp_field', readonly: true %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group">
							<%= text_field_tag 'total_service', 0, id: 'total_service', class: 'form-control input-sm temp_field', readonly: true %>
						</div>
					</div>
				</fieldset>
			</div>

			<p/>

			<div class="col-md-6">
				<fieldset>

					<legend><%= t 'activerecord.attributes.product_and_service_email.products' %></legend>

					<div class="row">
						<div class="col-xs-12 col-md-12 form-group">
						</div>
					</div>

					<!-- Product body rows -->
					<% @model.class.products.each do |name| %>

				  		<div class="row">
							<div class="col-xs-7 col-md-5 form-group">
								<%= f.label name %>
							</div>
							<div class="col-xs-2 col-md-2 nopadding form-group">
							</div>
							<div class="col-xs-2 col-md-2 nopadding form-group">
								<%= f.text_field name,  :class => 'form-control input-sm product_input', :readonly => f.object.persisted? %>
							</div>
						</div>

					<% end%>

					<!-- Product total row -->
					<div class="row">
						<div class="col-xs-7 col-md-5 form-group">
							<%= label_tag t 'helpers.prod_and_serv_email.total' %>
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group">
						</div>
						<div class="col-xs-2 col-md-2 nopadding form-group">
							<%= text_field_tag 'total_product', 0, id: 'total_product', class: 'form-control input-sm temp_field', readonly: true %>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

	<%= render partial: "shared/form_buttons", locals: {model: @model, f: f} -%>

<% end %>

<%= render partial: "shared/form_commons", locals: {model: @model} %>

	<script>

		function preprocess_data() {}

		function sum_services() {

			total_checkups = 0;
			total_returns = 0;

		 	$('.service-row').each(function(i, obj) {
		 		checkups = $(this).find('.service_checkup').val();
		 		returns = $(this).find('.service_return').val();
		 		total = $(this).find('.service_total');

		 		if(isNaN(checkups)) {
					checkups = 0;
				}

				if(isNaN(returns)) {
					returns = 0;
				}

				total_checkups += +checkups;
				total_returns += +returns;

				total.val(+checkups + +returns);
		 	});

		 	$('#total_service_checkup').val(total_checkups);
		 	$('#total_service_return').val(total_checkups);
		 	$('#total_service').val(+total_checkups + +total_returns);

		}

		function sum_products() {
			sum = 0;

			$('.product_input').each(function(i, obj) {
			    if(!isNaN($(this).val()))
			    	sum = +sum + +$(this).val();
			});

			$('#total_product').val(sum);
		}

		$(function() {

			$('.service_input, .product_input').mask('999');

			$('#competence').val(current_competence());

			sum_services();
			sum_products();

			$('.service_input').on('blur', sum_services);
			$('.product_input').on('blur', sum_products);
		});

</script>