<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<div class="container-fluid padless">
		
		<div class='row'>
			<div class='form-group col-md-6'>
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :email %>
				<%= f.text_field :email, class: 'form-control' %>
			</div>
		</div>
		<div class='row'>

			<div class="form-group col-md-6">
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :password_confirmation, class: 'required' %>
				<%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
			</div>
		</div>
		<div class='row'>
			<div class="form-group col-md-6">
				<%= f.label :role %>
				<%= f.collection_select(:role_id, Role.where(active: true), :id, :name, {include_blank: t('helpers.select.prompt')}, {id: 'user_role', class: 'form-control'}) %>
			</div>

			<div class="form-group col-md-6">
				<%= f.label :locale %>
				<%= f.select :locale, available_locales { |e| [e.key, e.value] }, { include_blank: t('helpers.select.prompt')}, { class: 'form-control' } %>
			</div>
		</div>
	</div>

	<%= render 'shared/form_status_button', f: f %>
	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<% end # main_form %>

<%= render 'shared/form_commons' %>

<script>

	$('#main_form').on('submit', function(evt) {
		preprocess_data();
	});

	function preprocess_data() {
	}

</script>