<% if (@model.persisted? && !current_user.nil? && current_user.admin?) || (Rails.env.showcase? && @model.persisted?) %>

	<br/>

	<div class="panel-group hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse_audit" class="lala"><%= arrow_down %><%= t('audit.title') %></a>
				</h4>
			</div>
			<div id="collapse_audit" class="panel-collapse collapse panel-body marginless padless">
				<table id="audit_table" class="table table-striped table-condensed unbreakable-table">
					<thead>
						<tr>
							<th><%= t('audit.who') %></th>
							<th class="audit-when"><%= t('audit.when') %></th>
							<th class="audit-where"><%= t('audit.where') %></th>
							<th class="audit-what"><%= t('audit.what') %></th>
						</tr>
					</thead>

					<tbody>
						<% @model.audits.each_with_index do |audit, index| %>
							<tr>
								<td><%= audit_user audit, index	%></td>
								<td class="audit-when"><%= l(audit.created_at, format: :long_2) %></td>
								<td class="audit-where"><%= audit_ip audit, index %></td>
								<td class="audit-what">
									<% audit.audited_changes.each do |key, array| %>
										<b> - <%= t("activerecord.attributes.#{@model.model_name.singular}.#{key}") %>:</b> 
										<% if array.is_a? Array %>
											<%= "#{array[0].to_s} => #{array[1].to_s}" %>
										<% else %>
											<%= array %>
										<% end %>
										<br/>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>
