<% if !model.new_record? && !current_user.nil? && current_user.admin? %>

	<br/>

	<div class="panel-group hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse_audit"><%= t('audit.title') %></a>
				</h4>
			</div>
			<div id="collapse_audit" class="panel-collapse collapse panel-body marginless padless">
				<table id="audit_table" class="table table-striped table-condensed unbreakable-table">
					<thead>
						<tr>
							<th><%= t('audit.who') %></th>
							<th class="audit-when"><%= t('audit.when') %></th>
							<th class="audit-where"><%= t('audit.where') %></th>
							<th class="audit-what"><%= t('audit.what') %></th>
						</tr>
					</thead>

					<tbody>
						<% model.audits.each do |audit| %>
							<tr>
								<td><%= audit.user.name unless audit.user.nil? %></td>
								<td class="audit-when"><%= l(audit.created_at, format: :long_2) %></td>
								<td class="audit-where"><%= audit.remote_address %></td>
								<td class="audit-what">
									<% audit.audited_changes.each do |key, array| %>
										<b> - <%= t("activerecord.attributes.#{model.model_name.singular}.#{key}") %>:</b> <%= array %><br/>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>
