<% 

field_name = 'recipients_array' if local_assigns[:field_name].nil?
method_name = 'recipients_as_array' if local_assigns[:method_name].nil?

%>

<div class="form-group">

    <%= label_tag  "#{field_name}_new_recipient_field", t("activerecord.attributes.#{model.class.name.underscore}.#{field_name}"), class: 'required' %>

    <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= text_field_tag field_name + '_new_recipient_field', '', class: "form-control", placeholder: t('helpers.receipt_email.new_recipient') %>
        <span class="input-group-addon"><span class=" glyphicon glyphicon-plus add_recipient_btn" id="<%= field_name %>_add_recipient_btn"></span></span>
    </div>
</div>

<table id="<%= field_name %>_recipients_table" class="table table-striped table-condensed table-bordered unbreakable-table">
    <tbody>
        <% model.public_send(method_name).each_with_index do |email_address, index| %>
            <%= render 'shared/email_address', email_address: email_address, index: index, field_name: field_name %>
        <% end %>
    </tbody>
</table>

<%= f.hidden_field field_name %>

<script>

    var temp_id = -1;
    var transient_recipients = 0;

    function already_present(email_address) {
        var result = false;

        $('#<%= field_name %>_recipients_table > tbody > tr').each(function() {
            if($(this).find('.recipient_email').html() == email_address) {
                result = true;
            }
        })

        return result;
    }

    $('body').on('click', '.<%= field_name %>_remove_recipient_btn', function() {
        id = $(this).closest('.email_recipient').find('.recipient_id').text();

        $('#<%= field_name %>_email_address_' + id).fadeOut('slow', function() {
            $('#<%= field_name %>_email_address_' + id).remove();
        });

        transient_recipients -= 1;
    });

    function formated_recipients(id) {
        var array = '';

        if(!id)
            id = '<%= field_name %>';

        $('#' + id + '_recipients_table > tbody > tr').each(function() {
            array = array.concat($(this).find('.recipient_email').html() + ', ');
        })

        return array.substring(0, array.length - 2);
    }

    $('#<%= field_name %>_add_recipient_btn').on('click', function() {

        email_address = $('#<%= field_name %>_new_recipient_field').val();

        if (!$('#<%= field_name %>_new_recipient_field').val()) {
            display_form_errors('<%= t('alert.email.fill_a_recipient') %>');

        } else if(already_present(email_address)) {
            display_form_errors('<%= t('alert.email.duplicated_recipient') %>');
        } else if (validate_email(email_address)) {
            $.ajax({
                url: "<%= url_for(action: 'email_row', controller: 'helpers', only_path: false, protocol: 'http') %>", 
                data: { email_address: email_address, index: temp_id, field_name: '<%= field_name %>' },
                success: function(result) {
                    $('#<%= field_name %>_recipients_table > tbody:last-child').append(result);
                }
            });

            temp_id = temp_id - 1;
            hide_all_messages();
            clean_email_fields();
        } else {
            display_form_errors('<%= t('alert.email.invalid_recipient') %>');
        }
    });

    function clean_email_fields() {
        $('#<%= field_name %>_new_recipient_field').val('');
    }

</script>