<% 

field_name = 'recipients_array' if local_assigns[:field_name].nil?
method_name = 'recipients_as_array' if local_assigns[:method_name].nil?

%>

<div class="form-group">

    <%= label_tag  "#{field_name}_new_recipient_field", t("activerecord.attributes.#{model.class.name.underscore}.#{field_name}"), class: 'required' %>

    <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= text_field_tag field_name + '_new_recipient_field', '', class: "form-control", placeholder: t('helpers.receipt_email.new_recipient') %>
        <span class="input-group-addon"><span class=" glyphicon glyphicon-plus add_recipient_btn" id="<%= field_name %>_add_recipient_btn"></span></span>
    </div>
</div>

<table id="<%= field_name %>_recipients_table" class="table table-striped table-condensed table-bordered unbreakable-table">
    <tbody>
        <% model.public_send(method_name).each_with_index do |email_address, index| %>
            <%= render 'shared/email_address', email_address: email_address, index: index, field_name: field_name %>
        <% end %>
    </tbody>
</table>

<%= f.hidden_field field_name %>

<script>

    let temp_<%= field_name %>_id = -1;
    let <%= field_name %>_transient_recipients = 0;

    const <%= field_name %>_already_present = email_address => {
        let result = false;

        $('#<%= field_name %>_recipients_table > tbody > tr').each(() => {
            if($(this).find('.recipient_email').html() == email_address) {
                result = true;
            }
        })

        return result;
    }

    $('body').on('click', '.<%= field_name %>_remove_recipient_btn', e => {
        const elem = $(e.currentTarget);
        const id = elem.closest('.email_recipient').find('.recipient_id').text();

        $(`#<%= field_name %>_email_address_${id}`).fadeOut('slow', () => {
            $(`#<%= field_name %>_email_address_${id}`).remove();
        });

        <%= field_name %>_transient_recipients -= 1;
    });

    const <%= field_name %>_formated_recipients = (id = '<%= field_name %>') => {
        let array = '';

        $(`#${id}_recipients_table > tbody > tr`).each((i, elem) => {
            array = array.concat($(elem).find('.recipient_email').html() + ', ');
        })

        return array.substring(0, array.length - 2);
    }

    $('#<%= field_name %>_add_recipient_btn').on('click', () => {
        const email_address = $('#<%= field_name %>_new_recipient_field').val();

        if (!$('#<%= field_name %>_new_recipient_field').val()) {
            display_form_errors(I18n.t('alert.email.fill_a_recipient'));
        } else if(<%= field_name %>_already_present(email_address)) {
            display_form_errors(I18n.t('alert.email.duplicated_recipient'));

        } else if (validate_email(email_address)) {
            $.ajax({
                url: "<%= email_row_helpers_path %>", 
                data: { 
                    email_address: email_address, 
                    index: temp_<%= field_name %>_id, 
                    field_name: '<%= field_name %>'
                },
                success: result => {
                    $('#<%= field_name %>_recipients_table > tbody:last-child').append(result);
                }
            });

            temp_<%= field_name %>_id = temp_<%= field_name %>_id - 1;
            hide_all_messages();
            clean_<%= field_name %>_email_fields();
        } else {
            display_form_errors(I18n.t('alert.email.invalid_recipient'));
        }
    });

    const clean_<%= field_name %>_email_fields = () => $('#<%= field_name %>_new_recipient_field').val('')

</script>