<tr id="<%= field_name %>_email_address_<%= index %>" class="email_receipt">
	<td class="recipient_id" style="display:none;"><%= index.to_s %></td>
	<td class="recipient_email" style="vertical-align: middle;"><%= email_address %></td>
	<td class="button-wrapper"><%= trash_img field_name %> </td>
</tr>