<% 

field_name = 'recipients_array' if local_assigns[:field_name].nil?
method_name = 'recipients_as_array' if local_assigns[:method_name].nil?

%>

<div class="form-group">

    <%= label_tag  "#{field_name}_new_recipient_field", t("activerecord.attributes.#{model.class.name.underscore}.#{field_name}"), class: 'required' %>

    <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= text_field_tag field_name + '_new_recipient_field', '', class: "form-control", placeholder: t('helpers.receipt_email.new_recipient') %>
        <span class="input-group-addon"><span class=" glyphicon glyphicon-plus add_recipient_btn" id="<%= field_name %>_add_recipient_btn"></span></span>
    </div>
</div>

<table id="<%= field_name %>_recipients_table" class="table table-striped table-condensed table-bordered unbreakable-table">
    <tbody>
        <% model.public_send(method_name).each_with_index do |email_address, index| %>
            <%= render 'shared/email_address', email_address: email_address, index: index, field_name: field_name %>
        <% end %>
    </tbody>
</table>

<%= f.hidden_field field_name %>
