<%= link_to genderize_full_tag(@model, 'helpers.action.new'), send("new_" + @model.class.name.singularize.underscore + "_path"), :class => "btn btn-primary" %>
<% if lookup_context.find_all(ActiveModel::Naming.plural(model) + "/_index_buttons").any? %>
	<%= render partial: "index_buttons" %>
<% end %>

</p>

<%
	@number_of_columns = 0
	has_extra_action_buttons = lookup_context.find_all(ActiveModel::Naming.plural(model) + "/_index_action_buttons").any?
%>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed tablesorter tablesorter-blue">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.' + @model.class.name.underscore) do |i18n| %>
				<th class="admin-only id-column"></th>
				<th style="display: none;"></th>
				<% columns.each_with_index do |a, i| %>
					<th style="<%= columns[i][:style] %>" class="<%= columns[i][:class] %>"><%= i18n.t columns[i][:header] %></th>
				<% end %>
				<% if model.updatable %>
					<th class="sorter-false icon-column"></th>
				<% end %>
				<% if model.visualizable %>
					<th class="sorter-false icon-column"></th>
				<% end %>
				<% if has_extra_action_buttons %>
					<% render partial: ActiveModel::Naming.plural(model).to_s + "/index_action_buttons" %>
					<% for i in 1..@number_of_columns %>
						<th class="hidden-xs sorter-false icon-column"></th>
					<% end %>
				<% end %>
				<% if model.class.column_names.include? 'active' %>
					<th class="hidden-xs sorter-false icon-column"></th>
				<% end %>
				<th class="admin-only sorter-false icon-column" style="display:none;"></th>
			<% end %>
		</tr>
	</thead>

	<% if @list.empty? %>
		<tr>
			<%
				colspan = columns.size
				colspan += 1 if model.updatable
				colspan += 1 if model.visualizable
				colspan += 1 if model.updatable
				colspan += @number_of_columns if has_extra_action_buttons
				colspan += 1 if model.class.column_names.include? 'active'
			%>
			<td colspan="<%= colspan %>" bgcolor="#E0E0F4" align="center"><%= genderize_tag(model, 'helpers.none_registered') %></td>
		</tr>

	<% else %>
		<tbody>
			<% @list.each do |iterator| %>
				<tr id='model_<%= iterator.id %>' class="model_row">
					<td class="model_id admin-only"><%= iterator.id %></td>
					<% columns.each_with_index do |a, i| %>
						<td style="<%= columns[i][:style] %>" class="<%= columns[i][:class] %>">
						<%=
							if columns[i][:type] == 'money'
								number_to_currency(iterator.public_send(columns[i][:model_attr]))
							else
								iterator.instance_eval(columns[i][:model_attr])
							end
						%></td>
					<% end %>
					<% if model.updatable %>
						<td class="icon-column"><%= link_to image_tag("edit.png", :title => t('helpers.action.edit')), send("edit_" + model.class.name.singularize.underscore + "_path", iterator) %></td>
					<% end %>
					<% if model.visualizable %>
						<td class="icon-column"><%= link_to image_tag("find.png", :title => t('helpers.action.show')), send(model.class.name.singularize.underscore + "_path", iterator) %></td>
					<% end %>
					<% if has_extra_action_buttons %>
						<%= render partial: ActiveModel::Naming.plural(model).to_s + "/index_action_buttons" %>
					<% end %>
					<% if model.class.column_names.include? 'active' %>
						<td class="hidden-xs status icon-column">
							<% if iterator.active %>
								<%= link_to image_tag("activate.png", :title => genderize_tag(iterator, 'is_active'), :class => 'deactivate_btn status_btn'), send("deactivate_" + @model.class.name.singularize.underscore + "_path", iterator), method: :post, :remote => true, :id => 'change_status_' + iterator.id.to_s, "data-type" => :json, :class => 'deactivate_btn' %>
							<% else %>
								<%= link_to image_tag("deactivate.png", :title => genderize_tag(iterator, 'is_inactive'), :class => 'activate_btn status_btn'), send("activate_" + @model.class.name.singularize.underscore + "_path", iterator), method: :post, :remote => true, :id => 'change_status_' + iterator.id.to_s, "data-type" => :json, :class => 'activate_btn' %>
							<% end %>
						</td>
					<% end %>
					<td class="admin-only icon-column" style="display:none;">
					<%= image_tag("destroy.png", title: t('helpers.action.destroy'), class: 'clickable destroy_btn') %>
					</td>
				</tr>
			<% end %>
		</tbody>

	<% end %>
</table>

<%= render partial: "shared/index_commons", locals: {model: @model} %>