<% @title = plural_of @model.class %>

<!-- Remove modal -->
<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<%= genderize_tag(@model, 'model_phrases.prompt.remove') %>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<%= genderize_tag(@model, 'model_phrases.are_you_sure.remove') %>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<%= t('helpers.action.cancel') %>
				</button>
				<button type="button" class="btn btn-primary btn-ok" data-dismiss="modal">
					<%= t('helpers.action.remove') %>
				</button>
			</div>
		</div>
	</div>
</div>

<% if lookup_context.find_all(ActiveModel::Naming.plural(@model) + '/_modals').any? %>
	<%= render 'modals' %>
<% end %>
