<% @title = plural_of @model.class %>

<!-- Remove modal -->
<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<%= form_tag({url: '#'}, method: 'delete', remote: true, id: 'remove_form') do %>
			<div class="modal-header">
				<%= genderize_tag(@model, 'model_phrases.prompt.remove') %>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<%= genderize_tag(@model, 'model_phrases.are_you_sure.remove') %>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<%= t('helpers.action.cancel') %>
				</button>
				<%= submit_tag t('helpers.action.remove'), class: 'btn btn-primary btn-ok' %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<% if lookup_context.find_all(ActiveModel::Naming.plural(@model) + '/_modals').any? %>
	<%= render 'modals' %>
<% end %>

<script>

	var id_to_be_deleted = -1;

	$(document).ready(function() {
		return $(function() {
			$.extend($.tablesorter.defaults, {
				widgets: ["zebra"]
			});
			$("#index_table").tablesorter();
		});
	});

	<% if @model.class.column_names.include? 'active' %>

		jQuery(function($) {

			$('.status').on('ajax:success', function(event, data, status, xhr) {
				display_notice(data.message);
				update_status(data.id, data.activated);
			}).on("ajax:error", function(e, xhr, status, error) {
				parse_json_errors(xhr.responseText);
			});

			function update_status(id, is_now_active)
			{
				var target = "#model_" + id + " .status > a";

				if(is_now_active)
				{
					$(target).attr("href", change_status_path(id, is_now_active));
					$(target).html('<%= deactivate_img(@model) %>');
				}
				else
				{
					$(target).attr("href", change_status_path(id, is_now_active));
					$(target).html('<%= activate_img(@model) %>');
				}
			}
		});

		function change_status_path(id, is_now_active) {
			<% model_name = @model.class.to_s.underscore %>

			if(is_now_active)
				return '<%= send("deactivate_#{model_name}_path", -1) %>'.replace("-1", id);
			else
				return '<%= send("activate_#{model_name}_path", -1) %>'.replace("-1", id);
		}

	<% end %>


	$(document).ready(function() {
		$("#remove_form").on("ajax:success", function(e, data, status, xhr) {
			display_notice(data.success);
		}).on("ajax:error", function(e, xhr, status, error) {
			parse_json_errors(xhr.responseText);
		});

		$('.destroy_btn').on('click', function() {

			id = $(this).closest('.model_row').find('.model_id').html();
			display_confirm_modal("<%= t('modal.title.destroy') %>",
				"<%= genderize_tag(@model, 'model_phrases.are_you_sure.destroy') %>", destroy_model.bind(self, id));
		});

	});

	function destroy_model(id) {

		id_to_be_deleted = id;

		$.ajax({
			type: "DELETE",
			url: "<%= model_full_path(@model) %>/" + id,
			dataType: "json",
			success: function(response) {
				var message = response.message;

				if(response.success) {
					display_notice(message);

					$('#model_' + id_to_be_deleted).remove();

					if($('#index_table tbody tr').length == 1) {
						$(<%= "no_#{@model.class.name.pluralize.underscore}_row" %>).show();
					}
				} else {
					display_error(message);
				}
			},
			error: function(response) {
				display_error("<%= t('error_pages.internal_server_error.title') %>");
			}
		});
	}

</script>