<% @title = plural_of @model.class %>

<!-- Remove modal -->
<div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<%= genderize_tag(@model, 'model_phrases.prompt.remove') %>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<%= genderize_tag(@model, 'model_phrases.are_you_sure.remove') %>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<%= t('helpers.action.cancel') %>
				</button>
				<button type="button" class="btn btn-primary btn-ok" data-dismiss="modal">
					<%= t('helpers.action.remove') %>
				</button>
			</div>
		</div>
	</div>
</div>

<% if lookup_context.find_all(ActiveModel::Naming.plural(@model) + '/_modals').any? %>
	<%= render 'modals' %>
<% end %>

<script>

	<% if @model.class.column_names.include? 'active' %>

		jQuery(($) => {

			$('.status').on('ajax:success', (event, data, status, xhr) => {
				display_notice(data.message);
				update_status(data.id, data.activated);
			}).on("ajax:error", (e, xhr, status, error) => {
				parse_json_errors(xhr.responseText);
			});

			const update_status = (id, is_now_active) => {
				const target = `#model_${id} .status > a`;

				if(is_now_active) {
					$(target).attr("href", change_status_path(id, is_now_active));
					$(target).html('<%= deactivate_img(@model) %>');
				}
				else {
					$(target).attr("href", change_status_path(id, is_now_active));
					$(target).html('<%= activate_img(@model) %>');
				}
			}
		});

		const change_status_path = (id, is_now_active) => {
			<% model_name = @model.class.to_s.underscore %>

			if(is_now_active)
				return '<%= send("deactivate_#{model_name}_path", -1) %>'.replace("-1", id);
			else
				return '<%= send("activate_#{model_name}_path", -1) %>'.replace("-1", id);
		}

	<% end %>

</script>