<script>
  const bill_chart_data = <%= @graph_data.to_json.html_safe %>;
</script>

<ul class="nav nav-tabs">
  <% @graph_data.each_with_index do |bill, i| %>
      <li id="main_tab_<%= i %>_title"><a><%= bill[0] %></a></li>
  <% end %>
</ul>

<% @graph_data.each_with_index do |bill, i| %>

  <div id="main_tab_<%= i %>" class="container-fluid tab_body">

  <!-- Year's bills (titles) -->
  <ul class="nav nav-pills">
    <li id="<%= bill[0].to_s %>_tab_0_title" class="active"><a><%= I18n.t('activerecord.attributes.bill.water') %></a></li>
    <li id="<%= bill[0].to_s %>_tab_1_title"><a><%= t('activerecord.attributes.bill.energy') %></a></li>
    <li id="<%= bill[0].to_s %>_tab_2_title"><a><%= t('activerecord.attributes.bill.telephone') %></a></li>
    <li id="<%= bill[0].to_s %>_tab_3_title"><a><%= t('helpers.total') %></a></li>
  </ul>

  <!-- Year's bills (bodies) -->
  <% Bill.bill_types.each do |type| %>
    <div id="<%= bill[0].to_s %>_tab_<%= type[1] %>">
      <div id="chart_div_<%= bill[0].to_s %>_<%= type[1] %>" class="google-chart"></div>
    </div>
  <% end %>

  <!-- Totals graph -->
  <div id="<%= bill[0].to_s %>_tab_3">
      <div id="chart_div_<%= bill[0].to_s %>_3" class="google-chart"></div>
    </div>

  </div>

<% end %>

<%#= render 'shared/tab_commons', number_of_tabs: @graph_data.length, tab_type: 'bill', title: Time.now.year %>
