<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

	<%= render partial: "shared/form_errors", locals: {model: @model} %>

	<%= f.hidden_field :id %>

	<div class="container-fluid padless">
	
		<div class='row'>
			<div class='form-group col-md-6'>
				<%= f.label :competence %>
				<div class="input-group date" data-behaviour='datepickercompetence' >
					<%= text_field_tag 'aux_competence', I18n.localize(@model.competence, format: :competence_i), :class => 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
				<%= f.hidden_field :competence %>

				<script>
					$('#aux_competence').on('change', function() {
						$('#bill_competence').val(to_rails_date('01/' + $('#aux_competence').val()));
					})
				</script>
			</div>
		</div>

		<div class='row'>
			<div class='form-group col-md-4'>
				<%= f.label :water %>
				<div class="input-group">
					<span class="input-group-addon">R$</span>
					<%= f.text_field :water, :class => 'form-control money' %>
				</div>
			</div>

			<div class='form-group col-md-4'>
				<%= f.label :energy %>
				<div class="input-group">
					<span class="input-group-addon">R$</span>
					<%= f.text_field :energy, :class => 'form-control money' %>
				</div>
			</div>

			<div class='form-group col-md-4'>
				<%= f.label :telephone %>
				<div class="input-group">
					<span class="input-group-addon">R$</span>
					<%= f.text_field :telephone, :class => 'form-control money' %>
				</div>
			</div>
		</div>

	</div>

	<%= render partial: "shared/form_buttons", locals: {model: @model, f: f} -%>

<% end %>

<%= render partial: "shared/form_commons", locals: {model: @model} %>

<script>

	$('#main_form').on('submit', function(evt) {

		preprocess_data();
	});

	function preprocess_data()
	{
	}

</script>
