<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<div class="container-fluid padless">
		
		<div class='row'>
			<div class='form-group col-md-6'>
				<%= f.label :competence %>
				<div class="input-group date" data-behaviour='datepickercompetence' >
					<%= text_field_tag 'bill_aux_competence', I18n.localize(@model.competence, format: :competence_i), class: 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>

			<%= f.hidden_field :competence %>
		</div>

		<div class='row'>
			<div class='form-group col-md-4'>
				<%= f.label :water %>
				<div class="input-group">
					<span class="input-group-addon"><%= currency %></span>
					<%= money_field f, :water %>
				</div>
			</div>

			<div class='form-group col-md-4'>
				<%= f.label :energy %>
				<div class="input-group">
					<span class="input-group-addon"><%= currency %></span>
					<%= money_field f, :energy %>
				</div>
			</div>

			<div class='form-group col-md-4'>
				<%= f.label :telephone %>
				<div class="input-group">
					<span class="input-group-addon"><%= currency %></span>
					<%= money_field f, :telephone %>
				</div>
			</div>
		</div>

	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<% end #main form %>

<%= render 'shared/form_commons' %>

<script>

	$('#main_form').on('submit', function(evt) {
		preprocess_data();
	});

	function preprocess_data() {
	}

	$('#bill_aux_competence').on('change', function() {
		$('#bill_competence').val(to_rails_date('01/' + $('#bill_aux_competence').val()));
	})

</script>
