<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<div class="container-fluid padless">
		
		<div class='row'>
			<div class='form-group col-md-6'>
				<%= f.label :competence %>
				<div class="input-group date" data-behaviour='datepickercompetence' >
					<%= text_field_tag 'bill_aux_competence', I18n.localize(@model.competence, format: :competence_i), class: 'form-control date' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>

			<%= f.hidden_field :competence %>
		</div>

		<div class='row'>
			<div id="summable-inputs">
				<div class='form-group col-md-3'>
					<%= f.label :water %>
					<div class="input-group">
						<span class="input-group-addon"><%= currency %></span>
						<%= money_field f, :water %>
					</div>
				</div>

				<div class='form-group col-md-3'>
					<%= f.label :energy %>
					<div class="input-group">
						<span class="input-group-addon"><%= currency %></span>
						<%= money_field f, :energy %>
					</div>
				</div>

				<div class='form-group col-md-3'>
					<%= f.label :telephone %>
					<div class="input-group">
						<span class="input-group-addon"><%= currency %></span>
						<%= money_field f, :telephone %>
					</div>
				</div>
			</div>

			<div class='form-group col-md-3'>
				<%= f.label I18n.t 'helpers.total' %>
				<div class="input-group">
					<span class="input-group-addon"><%= currency %></span>
					<%= f.text_field :total, value: number_to_currency(@model.total.to_f, unit: ''), id: 'bill_totals', class: 'form-control', readonly: true, disabled: true %>
				</div>
			</div>
		</div>

	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<% end #main form %>

<%= render 'shared/form_commons' %>
