
<%= new_btn @model %>
<%= graph_btn %>

<br/>

<%= render partial: 'shared/pagination', locals: { top: true } %>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed tablesorter tablesorter-blue">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.bill') do |i18n| %>
				<th class="admin-only id-column"></th>
				<th class="sorter-false"><%= i18n.t :competence %></th>
				<th class="sorter-false"><%= i18n.t :water %></th>
				<th class="sorter-false"><%= i18n.t :energy %></th>
				<th class="sorter-false"><%= i18n.t :telephone %></th>
				<th class="sorter-false icon-column"></th>
				<th class="admin-only icon-column sorter-false"></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% if @list.empty? %>
			<tr>
				<td colspan="20" bgcolor="#E0E0F4" align="center"><%= genderize_tag(@model, 'helpers.none_registered') %></td>
			</tr>
		<% else %>
			<% @list.each do |iterator| %>
				<tr id="model_<%= iterator.id %>" class="model_row">
					<td class="model_id admin-only"><%= iterator.id %></td>
					<td><%=	I18n.localize(iterator.competence, format: :competence).capitalize %></td>
					<td><%=	number_to_currency(iterator.water) %></td>
					<td><%=	number_to_currency(iterator.energy) %></td>
					<td><%=	number_to_currency(iterator.telephone) %></td>
					<td class="icon-column"><%= edit_btn iterator %></td>
					<td class="admin-only icon-column"><%= destroy_btn %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<%= render partial: 'shared/pagination', locals: { top: false } %>
<%= render partial: 'shared/index_commons', locals: { model: @model } %>

<script>

	$('#graphs_btn').click(function(ev) {
		$('#graphs_modal').modal('show');
	});

</script>
