<tr class="contact_row" id="contact_<%= contact.id %>">
    <td class="contact_id admin-only" style="display:none;"><%= contact.id %></td>
    <td class="contact_name"><%= contact.name %></td>
    <td class="contact_position"><%= contact.position %></td>
    <td class="contact_email_address" style="display:none;"><%= contact.email_address %></td>
    <td class="contact_telephone"><%= contact.telephone %></td>
    <td class="contact_celphone"><%= contact.celphone %></td>
    <td class="contact_fax" style="display:none;"><%= contact.fax %></td>
    <td class="icon-column-2"><%= image_tag('edit.png', title: t('helpers.action.edit'), class: 'edit_contact_btn edit_btn') %></td>
    <td class="icon-column-2"><%= link_to image_tag('delete.png', title:  t('helpers.action.remove')), 'javascript:void(0)', class: 'remove_contact_btn remove_btn' %></td>

    <!-- Server communication data -->
    <td style="display:none;">
        <% if contact.id && contact.id > 0 %>   
            <%= contact_hidden_tag(contact, 'id') %>
        <% end %>

        <%= contact_hidden_tag(contact, 'name') %>
        <%= contact_hidden_tag(contact, 'position') %>
        <%= contact_hidden_tag(contact, 'email_address') %>
        <%= contact_hidden_tag(contact, 'telephone') %>
        <%= contact_hidden_tag(contact, 'celphone') %>
        <%= contact_hidden_tag(contact, 'fax') %>
    </td>
</tr>