<tr class="contact_row" id="contact_<%= contact.id %>">
    <td class="contact_id admin-only hidden"><%= contact.id %></td>
    <td class="contact_name"><%= contact.name %></td>
    <td class="contact_position"><%= contact.position %></td>
    <td class="contact_email_address hidden"><%= contact.email_address %></td>
    <td class="contact_telephone"><%= contact.telephone %></td>
    <td class="contact_celphone"><%= contact.celphone %></td>
    <td class="contact_fax hidden"><%= contact.fax %></td>
    <td class="icon-column-2"><%= sub_edit_btn Contact %></td>
    <td class="icon-column-2"><%= sub_destroy_btn Contact %></td>

    <!-- Server communication data -->
    <td class="hidden">
        <%= contact_hidden_tag contact, 'id' if contact.id && contact.id > 0 %>
        <%= contact_hidden_tag contact, 'name' %>
        <%= contact_hidden_tag contact, 'position' %>
        <%= contact_hidden_tag contact, 'email_address' %>
        <%= contact_hidden_tag contact, 'telephone' %>
        <%= contact_hidden_tag contact, 'celphone' %>
        <%= contact_hidden_tag contact, 'fax' %>
    </td>
</tr>