<tr id="donation_<%= donation.id %>_row" class="donation_row">
	
	<!-- Non-extra-small views -->
	<td class="hidden-xs donation_id admin-only" style="display:none;"><%= donation.id %></td>
	<td class="hidden-xs donation_date col-xs-6 col-md-3"><%= I18n.l donation.donation_date %></td>
	<td class="hidden-xs donation_value col-xs-6 col-md-3"><%= number_to_currency donation.value %></td>
	<td class="hidden-xs donation_remark col-xs-12 col-md-6"><%= donation.remark %></td>
	<td class="hidden-xs icon-column-2"><%= sub_destroy_btn Donation %></td>

	<!-- Extra-small views (should not have the 'donation_id' class) -->
	<td colspan="5" class="visible-xs">
		<table class="table table-striped table-bordered marginless">
			<tbody>
				<tr class="gray-background">
					<td class="admin-only" style="display:none;"><%= donation.id %></td>
					<td class="donation_date"><%= I18n.l donation.donation_date %></td>
					<td class="donation_value"><%= number_to_currency donation.value %></td>
					<td class="icon-column-2"><%= sub_destroy_btn Donation %></td>
				</tr><tr>
					<td colspan="4" style="width: 50%" class="donation_remark white-background"><%= donation.remark %></td>
				</tr>
			</tbody>
		</table>
	</td>

	<!-- Server communication data -->
	<td style="display:none;" colspan="5">
	    <% if donation.id && donation.id > 0 %>
	    	<%= donation_hidden_tag(donation, 'id') %>
	    <% end %>

	    <%= donation_hidden_tag(donation, 'donation_date') %>
	    <%= donation_hidden_tag(donation, 'value') %>
	    <%= donation_hidden_tag(donation, 'remark') %>
	</td>
</tr>
