<tr class="donation_row hidden-xs donation_<%= donation.id %>_row">
	<td class="donation_id admin-only" style="display:none;"><%= donation.id %></td>
	<td class="donation_date col-xs-6 col-md-3"><%= donation.donation_date %></td>
	<td class="donation_value col-xs-6 col-md-3"><%= number_to_currency donation.value %></td>
	<td class="donation_remark col-xs-12 col-md-6"><%= donation.remark %></td>
	<td class="icon-column"><%= sub_destroy_btn Donation %></td>
</tr>
<tr class="donation_<%= donation.id %>_row visible-xs">
	<td colspan="5">
		<table class="table table-striped table-bordered marginless">
			<tbody>
				<tr class="gray-background">
					<td class="donation_id admin-only" style="display:none;"><%= donation.id %></td>
					<td class="donation_date"><%= donation.donation_date %></td>
					<td class="donation_value"><%= number_to_currency donation.value %></td>
					<td class="icon-column-2"><%= sub_destroy_btn Donation %></td>
				</tr><tr>
					<td colspan="4" style="width: 50%" class="donation_remark white-background"><%= donation.remark %></td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>

<!-- Server communication data -->
<tr>
	<td style="display:none;" colspan="5">
	    <% if donation.id && donation.id > 0 %>
	    	<%= donation_hidden_tag(donation, 'id') %>
	    <% end %>

	    <%= donation_hidden_tag(donation, 'donation_date') %>
	    <%= donation_hidden_tag(donation, 'value') %>
	    <%= donation_hidden_tag(donation, 'remark') %>
	</td>
</tr>
