<%= search_form_for @q, html: { id: 'search_form' } do |f| %>
	<% I18n.with_options(scope: "activerecord.attributes.#{@model.class.name.underscore}") do |i18n| %>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#index_filters"><%= arrow_down %><%= I18n.t 'helpers.filters' %></a>
					</h4>
				</div>
				<div id="index_filters" class="panel-collapse collapse">
					<div class="panel-body">
					
						<%= render 'shared/error_alert', id: 'filter' %>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<%= f.label :maintainer_id_eq, i18n.t(:maintainer), class: 'col-form-label' %>
							</label>
				    		<div class="col-sm-3">
							  	<%= f.select :maintainer_id_eq, options_from_collection_for_select(Maintainer.all, :id, :name, @q.maintainer_id_eq), { include_blank: true }, { class: 'form-control mb-0' } %>
				    		</div>

				    		<label class="col-sm-3 col-form-label">
								<%= f.label :remark_cont, i18n.t(:remark), class: 'col-form-label' %>
							</label>
				    		<div class="col-sm-3">
							  	<%= f.search_field :remark_cont, class: 'form-control mb-0' %>
				    		</div>
			    		</div>

			    		<div class="form-group row">
							<label class="col-sm-3 col-form-label">
								<%= f.label :donation_date_gteq, i18n.t(:donation_date), class: 'col-form-label' %>
							</label>
				    		<div class="col-sm-6">
				    			<div class="input-group input-group-xs">
									<span class="input-group-addon" id="from-addon"><%= f.label :donation_date_lteq, t('helpers.between'), class: 'col-form-label' %>
									</span>
									<div class="date" data-behaviour='datepicker' >
										<span></span><%= filter_date_field f, :donation_date_gteq %>
										<span class="input-group-addon hidden"><i class="glyphicon glyphicon-th"></i></span>
									</div>
									<span class="input-group-addon" style="border-left: 0; border-right: 0;"><%= f.label :donation_date_lteq, t('helpers.and'), class: 'col-form-label' %></span>
									<div class="date" data-behaviour='datepicker'>
										<span class="input-group-addon hidden"><i class="glyphicon glyphicon-th"></i></span>
										<%= filter_date_field f, :donation_date_lteq %>
									</div>
								</div>
				    		</div>
			    		</div>

						<div class="form-buttons">
							<%= filter_btn f %>
							<%= clean_filters_btn f %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<script>

	$('#search_form').on('submit', function(e) {
		start_date = to_rails_date($('#q_donation_date_gteq').val());
		end_date = to_rails_date($('#q_donation_date_lteq').val());
		errors = validate_period(start_date, end_date);

		if(errors.length !== 0) {
			display_error(errors, 'filter');
			e.preventDefault();
		}

	});

</script>
