<table class="table table-striped">
	<tr>
		<% I18n.with_options(scope: 'activerecord.attributes.' + model.class.name.downcase) do |i18n| %>
			<th style="width: 16px; display: none;"></th>
			<th style="width: 16px;"><%= i18n.t :day %></th>
			<th><%= i18n.t :company %></th>
			<th class="hidden-xs" ><%= i18n.t :competence %></th>
			<th style="width: 150px;"><%= i18n.t :value %></th>
			<th style="width: 16px;"></th>
			<th class="hidden-xs" style="width: 16px;"></th>
			<th class="hidden-xs" style="width: 16px;"></th>
			<th class="hidden-xs" style="width: 16px;"></th>
		<% end %>
	</tr>

	<% @emails.each do |model| %>
		<tr id='<%= model.class.name.downcase %>_<%= model.id %>'>
			<% I18n.with_options(scope: 'activerecord.attributes.' + model.class.name.downcase) do |i18n| %>
				<td style="width: 16px; display: none;" class="<%= model.class.name.downcase %>_id"><%= model.id %></td>
				<td style="width: 16px;"><%= model.day_of_month %></td>
				<td class="<%= model.class.name.downcase %>_company"><%= model.company.simple_name if model.company %></td>
				<td class="hidden-xs" ><%= model.capital_competence %></td>
				<td style="width: 150px;"><%= number_to_currency(model.value) %></td>
				<td style="width: 16px;"><%= link_to image_tag("edit.png", :title => t('helpers.action.remove')), edit_email_path(model) %></td>
				<td class="status" style="width: 16px;">
					<% if email.active %>
						<%= link_to image_tag("activate.png", :title => genderize_tag(model, 'is_active'), :class => 'inactivate_btn'), inactivate_email_path(email), method: :post, :remote => true, :id => 'change_status_' + model.class.name.downcase + '_' + model.id.to_s, "data-type" => :json, :class => 'inactivate_btn' %>
					<% else %>
						<%= link_to image_tag("inactivate.png", :title => genderize_tag(model, 'is_inactive'), :class => 'activate_btn'), activate_email_path(email), method: :post, :remote => true, :id => 'change_status_' + model.class.name.downcase + '_' + model.id.to_s, "data-type" => :json, :class => 'activate_btn' %>
					<% end %>
				</td>
				<td class="hidden-xs" style="width: 16px;"><%= link_to image_tag("send_email.png", :title => t('description.email.resend')), '#', class: 'resend_btn' %></td>
				<td class="hidden-xs" style="width: 16px;"><%= link_to image_tag("info.png", :title => t('description.email.send_test') + " '" + @email_config.test_recipient + "'"), send_test_email_path(model), :remote => true, :class => 'send_test_btn' %></td>
			<% end %>
		</tr>
	<% end %>
</table>