<% if d.object.persisted? %>
                                            <tr class="persisted_donation">
                                                <td class="donation_date" style="width: 40%"><%= d.object.donation_date %></td>
                                                <td class="donation_value"><%= number_to_currency(d.object.value) %></td>
                                                <td style="width: 35%" class="donation_remark"><%= d.object.remark %></td>
                                            </tr>
<% else %>

                                            <tr class="transient_donation">
                                                <td class="">
                                                    <div class="input-group date" data-behaviour='datepicker' >
                                                        <%= d.text_field :donation_date, {:class => 'form-control datepicker input-sm donation_date new_donation_date'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">R$</span>
                                                        <%= d.text_field :value, :class => 'form-control money input-sm donation_value new_donation_value' %>
                                                    </div>
                                                </td>
                                                <td><%= d.text_field :remark, :class => 'form-control input-sm donation_remark new_donation_remark' %></td>
                                            </tr>
<% end %>