<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

	<%= render partial: "helpers/form_errors", locals: {model: @model} %>

	<div class="row">
		<div class="form-group col-md-6">
			<%= f.label :simple_name %>
			<%= f.text_field :simple_name, :class => 'form-control', :readonly => f.object.persisted? %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :long_name %>
			<%= f.text_field :long_name, :class => 'form-control', :readonly => f.object.persisted? %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :cnpj %>
			<%= f.text_field :cnpj, :class => 'form-control cnpj', :readonly => f.object.persisted? %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :address %>
			<%= f.text_field :address, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :cep %>
			<%= f.text_field :cep, :class => 'form-control cep' %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :neighborhood %>
			<%= f.text_field :neighborhood, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :city %>
			<%= f.text_field :city, :class => 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :state %>
			<%= f.select :state, BR_STATES, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>

		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :email_address %>
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<%= f.text_field :email_address, :class => 'form-control' %>
			</div>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :website %>
			<%= f.text_field :website, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">

			<%= f.label :category %>
			<%= f.select :category, CompaniesHelper::CATEGORIES, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :group %>
			<%= f.select :group, CompaniesHelper::GROUPS, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>

		</div>


	</div><div class="row">
		<div class="form-group col-md-12"><fieldset>
			<legend><%= Donation.new.model_name.human(:count => 2) %></legend>

				<div class="row">
					<div class="form-group col-md-6">

						<%= f.label :first_parcel %>
					    	<div class="input-group date" data-behaviour='datepicker' >
					     		 <%= f.text_field :first_parcel, {:class => 'form-control datepicker'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
					</div><div class="form-group col-md-6">
						<%= f.label :last_parcel %>
						<div class="input-group date" data-behaviour='datepicker' >
							<%= f.text_field :last_parcel, {:class => 'form-control datepicker'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
					</div>

						<script type="text/javascript">

</script>
				</div>
				<div class="row">

					<div class="form-group col-md-4">
						<%= f.label :donation %>
						<div class="input-group">
							<span class="input-group-addon">R$</span>
							<%= f.text_field :donation, :class => 'form-control money' %>
						</div>
					</div>

					<div class="form-group col-md-4">
						<%= f.label :parcel_frequency %>
						<%= f.select :parcel_frequency, CompaniesHelper::PARCEL_FREQUENCY, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
					</div>
					<div class="form-group col-md-4">
						<%= f.label :total_period %>
						<%= f.text_field :total_period, :class => 'form-control' %>
					</div>

				</div><div class="row">
					<div class="form-group col-md-12">
						<%= f.label :remark %>
						<%= f.text_area :remark, :class => 'form-control' %>
					</div>
				</div>

				<div>
					<div class="row">
						<div class="col-md-12">
							<table id="donations_table" class="table table-striped table-condensed table-bordered">
								<tr>
									<% I18n.with_options(scope: 'activerecord.attributes.donation') do |i18n| %>
										<th><%= i18n.t :value %></th>
										<th><%= i18n.t :date %></th>
										<th><%= i18n.t :remark %></th>
									<% end %>
								</tr>
								<tbody>
									<% if @model.donations.empty? %>
										<tr><td colspan="3"><%= t('helpers.no_donations') %></td></tr>
									<% end %>

									<%= f.fields_for :donations do |d| %>
										<% if d.object.persisted? %>
											<tr>
												<td class=""><%= number_to_currency(d.object.value) %></td>
												<td class="" style="width: 40%"><%= d.object.donation_date %></td>
												<td style="width: 35%"><%= d.object.remark %></td>
											</tr>
										<% else %>

											<tr>
												<td class="">
													<div class="input-group">
														<span class="input-group-addon">R$</span>
														<%= d.text_field :value, :id => "new_donation_value", :class => 'form-control money input-sm' %>
													</div>
												</td>
												<td class="">
												<div class="input-group date" data-behaviour='datepicker' >
													<%= d.text_field :donation_date, {:class => 'form-control datepicker input-sm'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
												</div>
												</td>
												<td><%= d.text_field :remark, :class => 'form-control input-sm' %></td>
											</tr>
										<% end %>
									<% end %>
									<tr>
										<td colspan="3">
										<div class="centre">
											<%= link_to_add_fields(t('helpers.company.new_donation') , f, :donations) %>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

		</fieldset>
		</div>
	</div><div class="row">
		<div class="form-group col-md-12">
			<fieldset>
				<legend>Contatos</legend>

				<ul class="nav nav-tabs">
				  <li id="responsible_title" class="active clickable"><a>Responsável</a></li>
				  <li id="assistant_title" class="clickable"><a>Secretária</a></li>
				  <li id="financial_title" class="clickable"><a>Setor Financeiro</a></li>
				</ul>

				<div class="container-fluid" style="background-color: white;">
					<div id="responsible_tab">
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :resp_name %>
								<%= f.text_field :resp_name, :class => 'form-control' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :resp_role %>
								<%= f.text_field :resp_role, :class => 'form-control' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :resp_email_address %>
								<div class="input-group">
									<span class="input-group-addon">@</span>
									<%= f.text_field :resp_email_address, :class => 'form-control' %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :resp_phone %>
								<%= f.text_field :resp_phone, :class => 'form-control telephone' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :resp_cellphone %>
								<%= f.text_field :resp_cellphone, :class => 'form-control cellphone' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :resp_fax %>
								<%= f.text_field :resp_fax, :class => 'form-control fax' %>
							</div>
						</div>
					</div>

					<div id="assistant_tab" style="display: none;">
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :assistant_name %>
								<%= f.text_field :assistant_name, :class => 'form-control' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :assistant_phone %>
								<%= f.text_field :assistant_phone, :class => 'form-control telephone' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :assistant_cellphone %>
								<%= f.text_field :assistant_cellphone, :class => 'form-control cellphone' %>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :assistant_email_address %>
								<div class="input-group">
									<span class="input-group-addon">@</span>
									<%= f.text_field :assistant_email_address, :class => 'form-control' %>
								</div>
							</div>

							<div class="form-group col-md-8">
							</div>
						</div>
					</div>

					<div id="financial_tab" style="display: none;">
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :financial_name %>
								<%= f.text_field :financial_name, :class => 'form-control' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :financial_phone %>
								<%= f.text_field :financial_phone, :class => 'form-control telephone' %>
							</div>

							<div class="form-group col-md-4">
								<%= f.label :financial_cellphone %>
								<%= f.text_field :financial_cellphone, :class => 'form-control cellphone' %>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<%= f.label :financial_email_address %>
								<div class="input-group">
									<span class="input-group-addon">@</span>
									<%= f.text_field :financial_email_address, :class => 'form-control' %>
								</div>
							</div>

							<div class="form-group col-md-8">
							</div>
						</div>
					</div>
					</div>
			</fieldset>
		</div>
	</div>

	<%= render partial: "helpers/form_buttons", locals: {model: @model, f: f} %>

<%end%>

<%= render partial: "helpers/form_helper", locals: {model: @model} %>

<script>

function preprocess_data()
	{
		// _form_helper.html.erb;
	}

$(function(){



	$('#responsible_title').on('click', function()
	{
		hide_all_tabs_except('responsible');
	});

	$('#assistant_title').on('click', function()
	{
		hide_all_tabs_except('assistant');
	});

	$('#financial_title').on('click', function()
	{
		hide_all_tabs_except('financial');
	});

	function hide_all_tabs_except(tab_id)
	{
		$('#responsible_title').removeClass('active');
		$('#assistant_title').removeClass('active');
		$('#financial_title').removeClass('active');

		$('#responsible_tab').hide();
		$('#assistant_tab').hide();
		$('#financial_tab').hide();

		$('#' + tab_id + '_tab').show();
		$('#' + tab_id + '_title').addClass('active');
	};
});
</script>
