<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render partial: 'shared/form_errors', locals: { model: @model } %>

	<ul class="nav nav-tabs">
		<li id="main_tab_0_title" class="active clickable"><a><%= I18n.t('helpers.general') %></a></li>
		<li id="main_tab_1_title" class="clickable"><a><%= plural_of Donation %></a></li>
		<li id="main_tab_2_title" class="clickable"><a><%= plural_of Contact %></a></li>
	</ul>

	<div id="main_tab_0" class="general_tab">
		<div class="container-fluid tab_body">
			<%= render partial: 'main_tab_form', locals: { model: @model, f: f } %>
		</div>
	</div>

	<!-- Donations -->
	<div id="main_tab_1" style="display: none;">
		<div class="container-fluid tab_body">
			<%= render partial: 'donation_tab_form', locals: { model: @model, f: f } %>
		</div>
	</div>

	<!-- Contacts -->
	<div id="main_tab_2" style="display: none;">
		<div class="container-fluid tab_body">
			<%= render partial: 'contact_tab_form', locals: { model: @model, f: f }  %>
		</div>
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <a id="form_back_btn" class="btn btn-primary back_btn"><%= t('helpers.action.back') %></a>
	</div>


<%end%>

<%= render partial: 'shared/tab_commons', locals: { tab_type: 'main', number_of_tabs: 3 } %>
<%= render partial: 'shared/form_commons', locals: { model: @model } %>

<script>

	function preprocess_data() {
		if(new_donations()) {
			window.any_change = true;
		}

		if(transient_contacts > 0) {
			window.any_change = true;
		}
	}


	function update_fields_by_entity_type() {

		$('.person_area').hide();
		$('.company_area').hide();	

		if($('#company_entity_type').val() == "Pessoa Jurídica") {
			$('.company_area').show();
		} else if($('#company_entity_type').val() == "Pessoa Física") {
			$('.person_area').show();
		}
	}


	$(function() {

		update_fields_by_entity_type();
		update_number_parcels();
		set_last_parcel_date();

	    $('#company_entity_type').on('change', update_fields_by_entity_type);

		$('#company_first_parcel').on('change', function () {
			set_last_parcel_date();
		});

		$('#company_payment_frequency').change(function() {
			update_number_parcels();
		});

		$('#company_payment_period').on('change', function() {
			set_last_parcel_date();
		});

		function update_number_parcels() {

			value = $('#company_payment_frequency').val();

			if(value && value != 7 && value != 8) {
				set_last_parcel_date();
				$('#company_payment_period').removeAttr('readonly', 'readonly');
			}
			else{
				$('#company_payment_period').val('').attr('readonly', 'readonly');
				$('#company_last_parcel').val('');
			}
		}

		function set_last_parcel_date() {
			first_date = $('#company_first_parcel').val();
			frequency = $('#company_payment_frequency').val();
			parcel_qty = $('#company_payment_period').val();
			last_date = $('#company_last_parcel');

			if(!first_date || ! frequency || !parcel_qty) {
				last_date.val('');
				return;
			}

			var frequency_type = 'days';
			var temp = parcel_qty;

			if(frequency == 1) {
				frequency_type = 'days';
			} else if(frequency == 2) {
				frequency_type = 'weeks';
			} else if(frequency == 3) {
				frequency_type = 'months';
			} else if(frequency == 4) {
				temp = 3;
				frequency_type = 'months';
			} else if(frequency == 5) {
				temp = 6;
				frequency_type = 'months';
			} else if(frequency == 6) {
				frequency_type = 'years';
			}

			if(parcel_qty != 0) {
				last_date.val(moment(first_date, "DD/MM/YYYY").add((temp-1), frequency_type).format("DD/MM/YYYY"));
			}
		}
	});

</script>
