<%= form_for @model, html: {id: 'main_form'} do |f| %>

<%= render partial: 'shared/form_errors', locals: {model: @model} %>

<ul class="nav nav-tabs">
	<li id="main_tab_0_title" class="active clickable"><a><%= I18n.t('helpers.general') %></a></li>
	<li id="main_tab_1_title" class="clickable"><a><%= Donation.new.model_name.human(count: 2) %></a></li>
	<li id="main_tab_2_title" class="clickable"><a><%= Contact.new.model_name.human(count: 2) %></a></li>
</ul>

<div id="main_tab_0" class="general_tab">
	<div class="container-fluid tab_body">
		<%= render partial: 'main_tab_form', locals: {model: @model, f: f} %>
	</div>
</div>

<!-- Donations -->
<div id="main_tab_1" style="display: none;">
	<div class="container-fluid tab_body">
		<%= render partial: 'donation_tab_form', locals: {model: @model, f: f} %>
	</div>
</div>

<!-- Contacts -->
<div id="main_tab_2" style="display: none;">
	<div class="container-fluid tab_body">
		<%= render partial: 'contact_tab_form', locals: {model: @model, f: f} %>
	</div>
</div>

<%= render partial: 'shared/form_buttons', locals: {model: @model, f: f} -%>

<%end%>

<%= render partial: 'shared/tab_commons', locals: {tab_type: 'main', number_of_tabs: 3} %>
<%= render partial: 'shared/form_commons', locals: {model: @model} %>

<script>

	var transient_donations = 0;

	function preprocess_data() {
		if(transient_donations > 0) {
			window.any_change = true;
		}

		if(transient_contacts > 0) {
			window.any_change = true;
		}
	}

	$('#company_entity_type').on('change', update_fields_by_entity_type);

	function update_fields_by_entity_type() {

		$('.person_area').hide();
		$('.company_area').hide();	

		if($('#company_entity_type').val() == "Pessoa Jurídica") {
			$('.company_area').show();
		} else if($('#company_entity_type').val() == "Pessoa Física") {
			$('.person_area').show();
		}
	}


	$(function() {

		update_fields_by_entity_type();
		update_number_parcels();
		set_last_parcel_date();

		$('#company_first_parcel').on('change', function (){
			set_last_parcel_date();
		});

		$('#company_payment_frequency').change(function()
		{
			update_number_parcels();
		});

		$('#company_payment_period').on('change', function() {
			set_last_parcel_date();
		});

		function update_number_parcels() {

			value = $('#company_payment_frequency').val();

			if(value && value != 7 && value != 8) {
				set_last_parcel_date();
				$('#company_payment_period').removeAttr('readonly', 'readonly');
			}
			else{
				$('#company_payment_period').val('').attr('readonly', 'readonly');
				$('#company_last_parcel').val('');
			}
		}

		function set_last_parcel_date() {
			first_date = $('#company_first_parcel').val();
			frequency = $('#company_payment_frequency').val();
			parcel_qty = $('#company_payment_period').val();
			last_date = $('#company_last_parcel');

			if(!first_date || ! frequency || !parcel_qty) {
				last_date.val('');
				return;
			}

			var frequency_type = 'days';
			var temp = parcel_qty;

			if(frequency == 1) {
				frequency_type = 'days';
			} else if(frequency == 2) {
				frequency_type = 'weeks';
			} else if(frequency == 3) {
				frequency_type = 'months';
			} else if(frequency == 4) {
				temp = 3;
				frequency_type = 'months';
			} else if(frequency == 5) {
				temp = 6;
				frequency_type = 'months';
			} else if(frequency == 6) {
				frequency_type = 'years';
			}

			if(parcel_qty != 0) {
				last_date.val(moment(first_date, "DD/MM/YYYY").add((temp-1), frequency_type).format("DD/MM/YYYY"));
			}
		}

		$('body').on('click', '#new_donation_btn', function() {
			set_datepicker();
		});

		$('#add_donation_btn').on('click', function add_donation() {

			if(validate_donation()) {

				transient_donations += 1;

				date = $('#new_donation_date').val();
				value = 'R$ ' + $('#new_donation_value').val();
				remark = $('#new_donation_remark').val();

				temp_id = (new Date).getTime();

				line = 	'<tr class="transient_donation" id="donation_' + temp_id + '">'+
				'<td class="donation_id" style="display:none;">' + temp_id + '</td>' +
				'<td class="donation_date">' + date + '</td>' +
				'<td class="donation_value">' + value + '</td>'+
				'<td style="width: 50%" class="donation_remark">' + remark + '</td>' +
				'<td class="button-wrapper"><%= link_to image_tag('delete.png', title:  t('helpers.action.remove'), class: 'remove_donation_btn remove_btn'), 'javascript:void(0)', class: 'remove_donation_btn remove_btn' %></td>' +
				donation_field(temp_id, 'donation_date', to_rails_date(date)) +
				donation_field(temp_id, 'value', value) +
				donation_field(temp_id, 'remark', remark) +
				'</tr>';

				$('#donations_table > tbody:last-child').append(line);

				$('#new_donation_date').val('');
				$('#new_donation_value').val('0,00');
				$('#new_donation_remark').val('');

				$('#no_donations_row').hide();

				hide_errors_from_box('donation');
			}
		});

		function validate_donation() {

			var errors = new Array();

			if(!$('#new_donation_date').val()) {
				errors.push('<%= I18n.t('errors.donation.date_mandatory') %>');
			}

			if((!$('#new_donation_value').val() || $('#new_donation_value').val() == '0,00') && !$('#new_donation_remark').val()) {
				errors.push('<%= I18n.t('errors.donation.value_or_remark') %>');
			}

			if(errors.length > 0) {
				display_error(errors, 'donation');
			}

			return errors.length == 0;
		}

		$('body').on('click', '.remove_donation_btn', function() {
			id = $(this).parent().parent().find('.donation_id').text();

			$('#donation_' + id).remove();

			transient_donations -= 1;

			if(document.getElementById("donations_table").rows.length == 2)
				$('#no_donations_row').show();
		});

		function donation_field(id, field, value) {
			return '<input class="form-control" value="' + value + '" type="hidden" name="company[donations_attributes][' + id + '][' + field + ']" id="company_donations_attributes_' + id + '_' + field + '">'
		}

	});
</script>
