<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

	<%= render partial: "helpers/form_errors", locals: {model: @model} %>

	<div class="row">
		<div class="form-group col-md-6">
			<%= f.label :trading_name %>
			<%= f.text_field :trading_name, :class => 'form-control', :readonly => f.object.persisted? %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :name %>
			<%= f.text_field :name, :class => 'form-control', :readonly => f.object.persisted? %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :cnpj %>
			<%= f.text_field :cnpj, :class => 'form-control cnpj', :readonly => f.object.persisted? %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :address %>
			<%= f.text_field :address, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :cep %>
			<%= f.text_field :cep, :class => 'form-control cep' %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :neighborhood %>
			<%= f.text_field :neighborhood, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :city %>
			<%= f.text_field :city, :class => 'form-control' %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :state %>
			<%= f.select :state, BR_STATES, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>

		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :email_address %>
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<%= f.text_field :email_address, :class => 'form-control' %>
			</div>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :website %>
			<%= f.text_field :website, :class => 'form-control' %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-6">
			<%= f.label :category %>
			<%= f.select :category, CompaniesHelper::CATEGORIES, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
		</div>

		<div class="form-group col-md-6">
			<%= f.label :group %>
			<%= f.select :group, CompaniesHelper::GROUPS, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
		</div>
	</div><div class="row">
		<div class="form-group col-md-12">
			<fieldset>
				<legend><%= Donation.new.model_name.human(:count => 2) %></legend>

					<div class="row">
						<div class="form-group col-md-6">

							<%= f.label :first_parcel %>
						    	<div class="input-group date" data-behaviour='datepicker' >
						     		 <%= f.text_field :first_parcel, {:class => 'form-control'} %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
							</div>
						</div><div class="form-group col-md-6">
							<%= label_tag t('activerecord.attributes.company.last_parcel')%>
							<%= text_field_tag :last_parcel, '', {:id => 'company_last_parcel', :class => 'form-control', readonly: true} %>
						</div>
						</div><div class="row">
						<div class="form-group col-md-4">
							<%= f.label :payment_frequency %>
							<%= f.select :payment_frequency, CompaniesHelper::PARCEL_FREQUENCIES, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
						</div>
						<div class="form-group col-md-4">
							<%= f.label :payment_period %>
							<%= f.text_field :payment_period, :class => 'form-control numbers_only' %>
						</div>
						<div class="form-group col-md-4">
							<%= f.label :contract %>
							<%= f.select :contract, CompaniesHelper::CONTRACTS, {:include_blank => t('helpers.select.prompt')}, { :class => 'form-control' } %>
						</div>
					</div><div class="row">
						<div class="col-md-12">
							<table id="donations_table" class="table table-striped table-condensed table-bordered">
								<tr>
									<% I18n.with_options(scope: 'activerecord.attributes.donation') do |i18n| %>
										<th><%= i18n.t :date %></th>
										<th><%= i18n.t :value %></th>
										<th><%= i18n.t :remark %></th>
									<% end %>
								</tr>
								<tbody>
									<% if @model.donations.empty? %>
										<tr><td colspan="3"><%= t('helpers.no_donations') %></td></tr>
									<% end %>

									<%= f.fields_for :donations do |d| %>
										<!-- TODO -->
										<%= render partial: 'donation_fields_2', locals: {d: d} %>
									<% end %>
									<tr>
										<td colspan="3">
											<div class="centre">
												<%= link_to_add_fields(t('helpers.company.new_donation') , f, :donations) %>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div><div class="row">
		<div class="form-group col-md-12">
			<fieldset>
				<legend><%= Contact.new.model_name.human(:count => 2) %></legend>

				<ul class="nav nav-tabs">
					<% f.object.contacts.each_with_index do |contact, index| %>
						<li id="tab_<%= index %>_title" class="<%= 'active ' if index == 0 %>clickable"><a><%= t('activerecord.attributes.company.contacts.contact_' + index.to_s) %></a></li>
					<% end %>
				</ul>

				<% f.object.contacts.each_with_index do |contact, index| %>
					<%= f.fields_for :contacts, contact do |ff| %>

						<%= ff.hidden_field :contact_type %>

						<div class="container-fluid" style="background-color: white;">
							<div id="tab_<%= index %>" class="contact_tab" style="<%= 'display: none;' if index != 0 %>">
								<div class="row">
									<div class="form-group col-md-4">
										<%= ff.label :name %>
										<%= ff.text_field :name, :class => 'form-control contact_name' %>
									</div>

									<div class="form-group col-md-4">
										<%= ff.label :position %>
										<%= ff.text_field :position, :class => 'form-control contact_position', :value => index != 0 ? t('activerecord.attributes.company.contacts.contact_' + index.to_s) : '', :readonly => index != 0 %>
									</div>

									<div class="form-group col-md-4">
										<%= ff.label :email_address %>
										<div class="input-group">
											<span class="input-group-addon">@</span>
											<%= ff.text_field :email_address, :class => 'form-control' %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4">
										<%= ff.label :telephone %>
										<%= ff.text_field :telephone, :class => 'form-control telephone' %>
									</div>

									<div class="form-group col-md-4">
										<%= ff.label :celphone %>
										<%= ff.text_field :celphone, :class => 'form-control cellphone' %>
									</div>

									<div class="form-group col-md-4">
										<%= ff.label :fax %>
										<%= ff.text_field :fax, :class => 'form-control fax' %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</fieldset>
		</div>
	</div>
	<div class="row">

		<div class="form-group col-md-12">
			<%= f.label :remark %>
			<%= f.text_area :remark, :rows => 6, :class => 'form-control' %>
		</div>
	</div>

	<%= render partial: "helpers/form_buttons", locals: {model: @model, f: f} %>

<%end%>

<%= render partial: "helpers/form_helper", locals: {model: @model} %>

<script>

	function preprocess_data()
	{
		$('.new_donation_date').each(function() {
			if($(this).val() != formatted_today())
				window.any_change = true;
		});

		$('.new_donation_value').each(function() {
			if($(this).val() != '0,00')
				window.any_change = true;
		});

		$('.new_donation_remark').each(function() {
			if($(this).val())
				window.any_change = true;
		});
	}


$(function(){

	update_number_parcels();
	set_last_parcel_date();

	// $('#company_first_parcel').datepicker({
	//      onSelect:function(evt, ui){
	//           set_last_parcel_date();
	//      }});

	$('#company_payment_frequency').change(function()
	{
		update_number_parcels();
	});


	$('#company_payment_period').on('change', function()	{
		set_last_parcel_date();
	});

	function update_number_parcels() {

		value = $('#company_payment_frequency').val();

		if(value && value != 7 && value != 8) {
			set_last_parcel_date();
			$('#company_payment_period').removeAttr('readonly', 'readonly');
		}
		else{
			$('#company_payment_period').val('').attr('readonly', 'readonly');
			$('#company_last_parcel').val('');
		}
	}

	function set_last_parcel_date()
	{
		first_date = $('#company_first_parcel').val();
		frequency = $('#company_payment_frequency').val();
		parcel_qty = $('#company_payment_period').val();
		last_date = $('#company_last_parcel');

		if(!first_date || ! frequency || !parcel_qty)
		{
			last_date.val('');
			return;
		}

		var frequency_type = 'days';
		var temp = parcel_qty;

		if(frequency == 1) {
			frequency_type = 'days';
		} else if(frequency == 2) {
			frequency_type = 'weeks';
		} else if(frequency == 3) {
			frequency_type = 'months';
		} else if(frequency == 4) {
			temp = 3;
			frequency_type = 'months';
		} else if(frequency == 5) {
			temp = 6;
			frequency_type = 'months';
		} else if(frequency == 6) {
			frequency_type = 'years';
		}

		last_date.val(moment(first_date, "DD/MM/YYYY").add((temp-1), frequency_type).format("DD/MM/YYYY"));
	}

	<% @model.contacts.each_with_index do |contact, index| %>

		$('#tab_<%= index %>_title').on('click', function()
		{
			hide_all_tabs_except(<%= index %>);
		});

	<% end %>

	function hide_all_tabs_except(tab_id)
	{
		for(i = 0; i <= 2; ++i) {
			$('#tab_' + i + '_title').removeClass('active');
			$('#tab_' + i).hide();
		}

		$('#tab_' + tab_id).show();
		$('#tab_' + tab_id + '_title').addClass('active');
	};

   	$('body').on('click', '#new_donation_btn', function() {
	    set_datepicker();
	    $( "#donations_table tr:odd" ).css( "background-color", "#ffffff" );
	});
});
</script>
