<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<ul class="nav nav-tabs">
		<li id="main_tab_0_title" class="active"><a><%= I18n.t('helpers.general') %></a></li>
		<li id="main_tab_1_title"><a><%= plural_of Donation %></a></li>
		<li id="main_tab_2_title"><a><%= plural_of Contact %></a></li>
	</ul>

	<div id="main_tab_0" class="general_tab container-fluid tab_body">
		<%= render partial: 'main_tab_form', locals: { f: f } %>
	</div>

	<!-- Donations -->
	<div id="main_tab_1" style="display: none;" class="container-fluid tab_body">
		<%= render partial: 'donation_tab_form', locals: { f: f } %>
	</div>

	<!-- Contacts -->
	<div id="main_tab_2" style="display: none;" class="container-fluid tab_body">
		<%= render partial: 'contact_tab_form', locals: { f: f }  %>
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <a id="form_back_btn" class="btn btn-primary back_btn"><%= t('helpers.action.back') %></a>
	</div>

<%end%>

<%= render partial: 'shared/tab_commons', locals: { tab_type: 'main', number_of_tabs: 3 } %>
<%= render 'shared/form_commons' %>

<script>

	function preprocess_data() {
		if(new_donations()) {
			window.any_change = true;
		}

		if(transient_contacts > 0) {
			window.any_change = true;
		}
	}

	function update_fields_by_entity_type() {

		$('.person_area').hide();
		$('.company_area').hide();	

		if($('#company_entity_type').val() == "Pessoa Jurídica") {
			$('.company_area').show();
		} else if($('#company_entity_type').val() == "Pessoa Física") {
			$('.person_area').show();
		}
	}

	$(function() {
		update_fields_by_entity_type();
	});

</script>
