<%= link_to genderize_full_tag(@model, 'helpers.action.new'), new_company_path, :class => "btn btn-primary" %>

</p>

<table class="table table-striped table-hover">
  <tr>
    <% I18n.with_options(scope: 'activerecord.attributes.company') do |i18n| %>
	    <th><%= i18n.t :trading_name %></th>
	    <th><%= i18n.t :category %></th>
          <th><%= i18n.t :group %></th>
	    <th style="width: 16px;"></th>
    <% end %>
  </tr>

  <% @list.each do |company| %>
    <tr id='company_<%= company.id %>'>
      <td><%= company.trading_name %></td>
      <td><%= company.category_desc %></td>
      <td><%= company.group_desc %></td>
      <td style="width: 16px;"><%= link_to image_tag("edit.png", :title => t('helpers.action.edit')), edit_company_path(company) %></td>
	</tr>
  <% end %>
</table>

<%= render partial: "helpers/index_helper", locals: {model: @model} %>
