<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<ul class="nav nav-tabs">
		<li id="main_tab_0_title" class="active"><a><%= I18n.t('helpers.general') %></a></li>
		<li id="main_tab_1_title"><a><%= plural_of Donation %></a></li>
		<li id="main_tab_2_title"><a><%= plural_of Contact %></a></li>
	</ul>

	<div id="main_tab_0" class="main_tab tab_0 general_tab container-fluid tab_body">
		<%= render 'main_tab_form', f: f %>
	</div>

	<!-- Donations -->
	<div id="main_tab_1" class="main_tab tab_1 container-fluid tab_body hidden">
		<%= render 'donation_tab_form', f: f %>
	</div>

	<!-- Contacts -->
	<div id="main_tab_2" class="main_tab tab_2 container-fluid tab_body hidden">
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<%end%>

<%= render 'shared/form_commons' %>

<script>

  // TODO: This is a quick-fix due to an issue
  // with the communication between React and
  // Rails. Yeah, I know, this is *really* ugly;

  var contactList = <%= @model.contacts.to_json.html_safe %>;
  var contact_first_time = true;

  var donationList = <%= @model.donations.to_json.html_safe %>;
  var donation_first_time = true;

</script>
