<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<ul class="nav nav-tabs">
		<li id="main_tab_0_title" class="active"><a><%= I18n.t('helpers.general') %></a></li>
		<li id="main_tab_1_title"><a><%= plural_of Donation %></a></li>
		<li id="main_tab_2_title"><a><%= plural_of Contact %></a></li>
	</ul>

	<div id="main_tab_0" class="general_tab container-fluid tab_body">
		<%= render 'main_tab_form', f: f %>
	</div>

	<!-- Donations -->
	<div id="main_tab_1" style="display: none;" class="container-fluid tab_body">
		<%= render 'donation_tab_form', f: f %>
	</div>

	<!-- Contacts -->
	<div id="main_tab_2" style="display: none;" class="container-fluid tab_body">
		<%= render 'contact_tab_form', f: f  %>
	</div>

	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<%end%>

<%= render 'shared/tab_commons', tab_type: 'main', number_of_tabs: 3 %>
<%= render 'shared/form_commons' %>

<script>

	$('#main_form').on('submit', function(e) {

		var errors = new Array();
		email = $('#maintainer_email_address').val();
		
		preprocess_data();

		if(email && !validate_email(email)) {
			errors.push('<%= I18n.t('alert.email.invalid_recipient') %>');
		}


		if(errors.length > 0) {
			e.preventDefault();
			display_form_errors(errors);
		}
	});

	function preprocess_data() {
		if(new_donations()) {
			window.any_change = true;
		}

		if(transient_contacts > 0) {
			window.any_change = true;
		}
	}

	function update_fields_by_entity_type() {

		$('.person_area').hide();
		$('.maintainer_area').hide();	

		if($('#maintainer_entity_type').val() == "company") {
			$('.maintainer_area').show();
		} else if($('#maintainer_entity_type').val() == "person") {
			$('.person_area').show();
		}
	}

	$(function() {
		update_fields_by_entity_type();
	});

</script>
