
<%= render 'filters' %>
<%= new_btn %>

<%= render 'shared/pagination', top: true %>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.maintainer') do |i18n| %>
				<th class="admin-only id-column"></th>
				<th><%= sort_link @q, :name, i18n.t(:name) %></th>
				<th class="hidden-xs"><%= sort_link @q, :category, i18n.t(:category) %></th>
				<th class="hidden-xs"><%= sort_link @q, :group, i18n.t(:group) %></th>
				<th class="icon-column"></th>
				<th class="admin-only icon-column"></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<%= no_records_row @model, @list %>
		<% @list.each do |iterator| %>
			<tr id="model_<%= iterator.id %>" class="model_row">
				<td class="model_id admin-only"><%= iterator.id %></td>
				<td><%= iterator.name %></td>
				<td class="hidden-xs"><%= iterator.category_desc %></td>
				<td class="hidden-xs"><%= iterator.group_desc %></td>
				<td class="icon-column"><%= edit_btn iterator %></td>
				<td class="admin-only icon-column"><%= destroy_btn %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/pagination', top: false %>
<%= render 'shared/index_commons' %>