<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<%= f.hidden_field :id %>

	<div class="container-fluid padless">
		<div class="row">
			<div id="email_area" class="col-md-5">
			</div>
			<div class="col-md-7">
				<div class="container-fluid padless">
					<div class="row">
						<div class="col-sm-12 form-group">
							<%= f.label :maintainer %>
							<%= receipt_maintainer_select f %>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5 form-group">
							<%= f.label :value %>
							<div class="input-group">
								<span class="input-group-addon"><%= currency %></span>
								<%= money_field f, :value %>
							</div>
						</div>
						<div class="col-sm-4 form-group">
							<%= f.hidden_field :day_of_month, class: 'form-control day_of_month' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :title %>
		<%= text_field_tag :title, @model.title, id: 'receipt_email_title', disabled: true, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :body %>
		<div class="tag-buttons">
			<%= user_help_btn 'body_tag_help_btn' %>
			<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs" id="add_maintainer_to_body_btn"><%= i18n.t :maintainer %></button>
					<button type="button" class="btn btn-primary btn-xs" id="add_value_to_body_btn"><%= i18n.t :value %></button>
					<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_body_btn"><%= i18n.t :competence %></button>
				</div>
			<% end %>
		</div>
		<%= f.text_area :body, size: '24x6', class: 'form-control' %>
	</div>

	<% if !@model.new_record? %>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" href="#collapse_history"><%= arrow_down %><%= t('audit.history') %></a></h4>
				</div>
				<div id="collapse_history" class="panel-collapse collapse">
					<div class="panel-body marginless padless">
						<table id="history_table" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th><%= t('audit.when') %></th>
									<th><%= t('audit.value') %></th>
									<th><%= t('audit.type') %></th>
									<th><%= t('audit.who') %></th>
								</tr>
							</thead>

							<tbody>
								<% @model.history.each do |history| %>
									<tr>
										<td><%= l(history.created_at, format: :really_short) %></td>
										<td><%= ActionController::Base.helpers.number_to_currency(history.value) %></td>
										<td><%= history.send_type_desc %></td>
										<td><%= history.user.name %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
					</div>
				</div>
			</div>
		</div>
	<% end #new_record? %>

	<%= render 'shared/form_status_button', f: f %>
	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= resend_form_btn @model %>
	    <%= send_test_form_btn @model %>
	    <%= form_back_btn %>
	</div>

<% end #main_form %>

<script>

  // TODO: This is a quick-fix due to an issue
  // with the communication between React and
  // Rails. Yeah, I know, this is *really* ugly;

  var email_first_time = [];
  email_first_time['recipients_array'] = true;

  var emailList = [];
  emailList['recipients_array'] = <%= @model.recipients_as_array.to_json.html_safe %>.map(
    value => ({
      is_persisted: "true",
      address: value
    }));

</script>

<%= render 'shared/form_commons' %>
<%= render 'modals' %>
