<%= form_for @model, html: {id: 'main_form'} do |f| %>

<%= render partial: 'shared/form_errors', locals: {model: @model} %>

<%= f.hidden_field :id %>

<div class="container-fluid padless">
	<div class="row">
		<div class="col-md-5">
			<%= render partial: 'shared/email_address_table', locals: {f: f, model: @model} %>
		</div>
		<div class="col-md-7">

			<div class="container-fluid padless">
				<div class="row">
					<div class="col-sm-12 form-group">
						<%= f.label :company %>
						<% if f.object.persisted? %>
						<%= f.collection_select(:company_id, Company.where(id: f.object.company_id), :id, :name, {}, {class: 'form-control', disabled: true}) %>
						<% else %>
						<%= f.collection_select(:company_id, Company.where(group: 1), :id, :name, {include_blank: t('helpers.select.prompt')}, {class: 'form-control'}) %>
						<% end %>
					</div>
				</div><div class="row">
				<div class="col-sm-5 form-group">
					<%= f.label :value %>
					<div class="input-group">
						<span class="input-group-addon">R$</span>
						<%= f.text_field :value, class: 'form-control money' %>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<%= f.label :day_of_month %>
					<%= f.text_field :day_of_month, class: 'form-control day_of_month' %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="form-group">
	<%= f.label :title %>
	<%= text_field_tag :title, @model.title(current_user), id: 'receipt_email_title', disabled: true, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :body %>
	<span style="float:right">
		<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-xs" id="add_company_to_body_btn"><%= i18n.t :company %></button>
			<button type="button" class="btn btn-primary btn-xs" id="add_value_to_body_btn"><%= i18n.t :value %></button>
			<button type="button" class="btn btn-primary btn-xs" id="add_competence_to_body_btn"><%= i18n.t :competence %></button>
		</div>
		<% end %>
	</span>
	<%= f.text_area :body, size: '24x6', class: 'form-control' %>
</div>

<% if !@model.new_record? %>
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" href="#collapse_history"><%= t('audit.history') %></a></h4>
		</div>
		<div id="collapse_history" class="panel-collapse collapse">
			<div class="panel-body" style="margin: 0; padding: 0;">
				<table id="history_table" class="table table-striped table-condensed">
					<tr>
						<th><%= t('audit.when') %></th>
						<th><%= t('audit.value') %></th>
						<th><%= t('audit.type') %></th>
						<th><%= t('audit.who') %></th>
					</tr>

					<% @model.history.each do |history| %>
					<tr>
						<td><%= l(history.created_at, format: :really_short) %></td>
						<td><%= ActionController::Base.helpers.number_to_currency(history.value) %></td>
						<td><%= history.send_type_desc %></td>
						<td><%= history.user.name %></td>
					</tr>
					<% end %>
				</table>
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
</div>
<% end %>

<%= render partial: 'shared/form_buttons', locals: {model: @model, f: f} -%>

<% end %>


<%= render partial: 'shared/form_commons', locals: {model: @model} %>
<%= render partial: 'modals' %>

<script>

	function preprocess_data() {}

	$(function() {

		<% if @model.persisted? %>

		$('.resend_btn').click(function(ev) {

			clean_resend_modal();
			$('#resend_email_form').get(0).setAttribute('action', '/receipt_emails/' + <%= @model.id.to_s %> + '/resend');
			$('.modal_company_name').text('<%= @model.company.name %>');
			$('#resend_email_modal').modal('show');
		});

		$('.send_test_btn').click(function(ev) {

			clean_send_test_modal();
			$('#send_test_email_form').get(0).setAttribute('action', '/receipt_emails/' + <%= @model.id.to_s %> + '/send_test');
			$('.modal_company_name').text('<%= @model.company.name %>');
			$('#send_test_email_modal').modal('show');
		});

		<% end %>

		$('#receipt_email_title').val(escapeHtml('<%= current_user.system_setting.re_title %>'));

		$('#main_form').on('submit', function(evt) {

			preprocess_data();

			if(!validate_tag_fields()) {
				$('#warning_save_modal').modal('show');
				evt.preventDefault();
				return;
			}
		});

		function validate_tag_fields() {
			return !contains_all_tags($('#receipt_email_body').val());
		}

		function contains_all_tags(text) {
			return text.indexOf("<%= t('tags.company') %>") == -1 || text.indexOf("<%= t('tags.value') %>") == -1 || text.indexOf("<%= t('tags.competence') %>") == -1;
		}

		$("#add_company_to_body_btn").on('click', function() {add_tag_to_field('receipt_email_body', '<%= t('tags.company') %>')});
		$("#add_value_to_body_btn").on('click', function() {add_tag_to_field('receipt_email_body', '<%= t('tags.value') %>')});
		$("#add_competence_to_body_btn").on('click', function() {add_tag_to_field('receipt_email_body', '<%= t('tags.competence') %>')});

		function preprocess_data() {
			if(transient_recipients > 0) {
				window.any_changes = true;
			}

			$('#receipt_email_recipients_array').val(formated_recipients());
		}

		$('#add_recipient_btn').on('click', function() {

			email_address = $('#new_recipient_field').val();

			if (!$('#new_recipient_field').val()) {
				display_form_errors('<%= t('alert.email.fill_a_recipient') %>');

			} else if(already_present(email_address)) {
				display_form_errors('<%= t('alert.email.duplicated_recipient') %>');
			} else if (validate_recipient_email(email_address)) {
				line = '<tr id="email_address_' + temp_id + '"><td class="recipient_id" style="display:none;">' + temp_id + '</td><td class="recipient_email">' + email_address + '</td><td class="button-wrapper"><%= link_to image_tag('delete.png', title:  t('helpers.action.remove'), class: 'remove_btn'), 'javascript:void(0)', class: 'remove_recipient_btn remove_btn' %></td></tr>';
				$('#recipients_table > tbody:last-child').append(line);
				temp_id = temp_id - 1;
				transient_recipients += 1;

				hide_all_messages();
				$('#new_recipient_field').val('');
			} else {
				display_form_errors('<%= t('alert.email.invalid_recipient') %>');
			}
		});
	});

</script>