
<%= link_to genderize_full_tag(@model, 'helpers.action.new'), new_receipt_email_path, class: 'btn btn-primary' %>
<%= link_to t('helpers.receipt_email.recent'), 'javascript:void(0)', id: 'recent_emails_btn', class: 'btn btn-primary' %>

<br/>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed tablesorter tablesorter-blue">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.receipt_email') do |i18n| %>
				<th class="admin-only id-column"></th>
				<th class="sorter-false"><%= i18n.t :day %></th>
				<th class="sorter-false hidden-xs"><%= i18n.t :company %></th>
				<th class="sorter-false hidden-xs"><%= i18n.t :competence %></th>
				<th class="sorter-false hidden-xs" style="width: 150px;"><%= i18n.t :value %></th>
				<th class="sorter-false icon-column"></th>
				<th class="sorter-false hidden-xs icon-column"></th>
				<th class="sorter-false hidden-xs icon-column"></th>
				<th class="hidden-xs sorter-false icon-column"></th>
				<th class="admin-only sorter-false icon-column"></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% if @list.empty? %>
			<tr>
				<td colspan="10" bgcolor="#E0E0F4" align="center"><%= genderize_tag(@model, 'helpers.none_registered') %></td>
			</tr>
		<% else %>
			<% @list.each do |iterator| %>
				<tr id="model_<%= iterator.id %>" class="model_row">
					<td class="model_id admin-only"><%= iterator.id %></td>
					<td><%= iterator.day_of_month %></td>
					<td class="hidden-xs receipt_company"><%= iterator.company.name %></td>
					<td class="hidden-xs"><%= iterator.competence.capitalize %></td>
					<td class="hidden-xs"><%= number_to_currency(iterator.value) %></td>
					<td class="icon-column"><%= edit_btn iterator %></td>
					<td class="hidden-xs icon-column"><%= resend_btn %></td>
					<td class="hidden-xs icon-column"><%= send_test_btn %></td>
					<td class="hidden-xs status icon-column"><%= status_btn iterator %></td>
					<td class="admin-only icon-column"><%= destroy_btn %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<%= render partial: 'shared/index_commons', locals: {model: @model} %>

<div class="asterisk-description"><%= t('helpers.receipt_email.index_footer', time: ReceiptEmail::DAILY_SEND_HOUR.to_s) %></div>

<script>

	$(document).ready(function() {

		$('.resend_btn').click(function(ev) {

			clean_resend_modal();

			id = $(this).parent().parent().find('.model_id').text();
			$('#resend_email_id').val(id);
			$('#resend_email_form').get(0).setAttribute('action', '/receipt_emails/' + id + '/resend');
			$('.modal_company_name').text($(this).parent().parent().find('.receipt_company').text());
			$('#resend_email_modal').modal('show');
		});


		$('.send_test_btn').click(function(ev) {

			clean_send_test_modal();

			id = $(this).parent().parent().find('.model_id').text();
			$('#send_test_email_id').val(id);
			$('#send_test_email_form').get(0).setAttribute('action', '/receipt_emails/' + id + '/send_test');
			$('.modal_company_name').text($(this).parent().parent().find('.receipt_company').text());
			$('#send_test_email_modal').modal('show');
		});


		$('#recent_emails_btn').click(function(ev) {
			$('#recent_emails_modal').modal('show');
		});
	});
</script>
