<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<%= f.hidden_field :id %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>
	</div>

	<%= render partial: 'shared/form_status_button', locals: { f: f } %>
	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <a id="form_back_btn" class="btn btn-primary back_btn"><%= t('helpers.action.back') %></a>
	</div>

<% end #main_form %>

<%= render 'shared/form_commons' %>

<script>

	function preprocess_data()
	{
	}

</script>