<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<%= f.hidden_field :id %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>
	</div>

	<%= render 'shared/form_status_button', f: f %>
	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f %>
	    <%= form_back_btn %>
	</div>

<% end #main_form %>

<%= render 'shared/form_commons' %>

<script>

	const preprocess_data = () => {}

</script>