<% week = week_f.object %>

<fieldset>

	<legend><%= t 'activerecord.models.service_datum.other' %><span class="admin-only"><%= services_ids(week) %></span></legend>

	<% week_f.object.service_data.each do |serv| %>
		<%= week_f.fields_for :service_data, serv do |serv_f| %>
			<%= serv_f.hidden_field :id %>
			<%= serv_f.hidden_field :service_type if week.common? %>
		<% end %>
	<% end %>

	<table class="input-table">
		<!-- Service header row -->
		<thead>
			<tr>
				<th scope="col" class="col-md-6"></th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.prod_and_serv_datum.checkup' %>
				</th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.prod_and_serv_datum.return' %>
				</th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.total' %>
				</th>
			</tr>
		</thead>

		
		<!-- Service body rows -->
		<tbody>
			<% ServiceData.services.each_with_index do |serv, row| %>
				<tr class="service-<%= week.index %>-row">
					<th scope="row" class="col-md-6">
						<%= t("activerecord.attributes.service_data.#{serv}") %>
					</th>
					<td class="col-md-2">
						<%= service_field_tag(week, serv, 0, row) %>
					</td>
					<td class="col-md-2">
						<%= service_field_tag(week, serv, 1, row) %>
					</td>
					<td class="col-md-2">
						<%= text_field_tag serv, '', id: "week_#{week.number}_service_#{serv}_total", class: "form-control input-sm service_total temp_field week_#{week.index}", readonly: true, disabled: true %>
					</td>
				</tr>
			<% end %>
		</tbody>


		<!-- Service totals row -->
		<tfoot>
			<tr>
				<th scope="row" class="col-md-6">
					<%= t 'helpers.total' %>
				</th>
				<td class="col-md-2">
					<%= text_field_tag 'total_service_checkup', 0, id: "total_service_checkup_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service_return', 0, id: "total_service_return_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service', 0, id: "total_service_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>