<% week = week_f.object %>

<fieldset>

	<legend><%= t 'activerecord.models.service_datum.other' %><span class="admin-only"><%= services_ids(week) %></span></legend>

	<input type="hidden" value="<%= week.service_data[0].id %>" name="product_and_service_datum[product_and_service_weeks_attributes][<%= week.index %>][service_data_attributes][0][id]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= week.index %>_service_data_attributes_0_id">

	<input type="hidden" value="<%= week.service_data[1].id %>" name="product_and_service_datum[product_and_service_weeks_attributes][<%= week.index %>][service_data_attributes][1][id]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= week.index %>_service_data_attributes_1_id">

	<% if week.common? %>
		<!-- Service types -->
		<input type="hidden" value="attendance" name="product_and_service_datum[product_and_service_weeks_attributes][<%= week.index %>][service_data_attributes][0][service_type]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= week.index %>_service_data_attributes_0_service_type">

		<input type="hidden" value="return" name="product_and_service_datum[product_and_service_weeks_attributes][<%= week.index %>][service_data_attributes][1][service_type]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= week.index %>_service_data_attributes_1_service_type">

	<% end %>

	<table class="input-table">
		<!-- Service header row -->
		<thead>
			<tr>
				<th scope="col" class="col-md-6"></th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.prod_and_serv_datum.checkup' %>
				</th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.prod_and_serv_datum.return' %>
				</th>
				<th scope="col" class="col-md-2">
					<%= t 'helpers.total' %>
				</th>
			</tr>
		</thead>

		
		<!-- Service body rows -->
		<tbody>
			<% ServiceData.services.each_with_index do |serv, row| %>
				<tr class="service-<%= week.index %>-row">
					<th scope="row" class="col-md-6">
						<%= t("activerecord.attributes.service_data.#{serv}") %>
					</th>
					<td class="col-md-2">
						<%= service_field_tag(week, serv, 0, row) %>
					</td>
					<td class="col-md-2">
						<%= service_field_tag(week, serv, 1, row) %>
					</td>
					<td class="col-md-2">
						<%= text_field_tag serv, '', id: "week_#{week.number}_service_#{serv}_total", class: "form-control input-sm service_total temp_field week_#{week.index}", readonly: true, disabled: true %>
					</td>
				</tr>
			<% end %>
		</tbody>


		<!-- Service totals row -->
		<tfoot>
			<tr>
				<th scope="row" class="col-md-6">
					<%= t 'helpers.total' %>
				</th>
				<td class="col-md-2">
					<%= text_field_tag 'total_service_checkup', 0, id: "total_service_checkup_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service_return', 0, id: "total_service_return_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service', 0, id: "total_service_week_#{week.index}", class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>