<% totals_week_number = 6 %>
<% final_week_number = 7 %>

<fieldset>

	<legend><%= t 'activerecord.models.service_datum.other' %><span class="admin-only"> (<%= week.service_data[0].id.to_s + ',' + week.service_data[1].id.to_s %>)</span></legend>

		<%= hidden_field_tag '', week.service_data[0].id %>
		<%= hidden_field_tag '', week.service_data[1].id %>

	<!-- Service header row -->
	<table class="input-table">
		<thead>
			<th scope="col">
			</th>
			<th scope="col">
				<%= week_form.label t 'helpers.prod_and_serv_datum.checkup' %>
			</th>
			<th scope="col">
				<%= week_form.label t 'helpers.prod_and_serv_datum.return' %>
			</th>
			<th scope="col">
				<%= week_form.label t 'helpers.total' %>
			</th>
		</thead>				

		<div class="container-fluid padless" style="text-align:center">

			<% if index >= 0 and index <= final_week_number %>

			<input type="hidden" value="<%= week.service_data[0].id %>" name="product_and_service_datum[product_and_service_weeks_attributes][<%= index %>][service_data_attributes][0][id]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= index %>_service_data_attributes_0_id">

			<input type="hidden" value="<%= week.service_data[1].id %>" name="product_and_service_datum[product_and_service_weeks_attributes][<%= index %>][service_data_attributes][1][id]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= index %>_service_data_attributes_1_id">

			<input type="hidden" value="0" name="product_and_service_datum[product_and_service_weeks_attributes][<%= index %>][service_data_attributes][0][service_type]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= index %>_service_data_attributes_1_service_type">

			<input type="hidden" value="1" name="product_and_service_datum[product_and_service_weeks_attributes][<%= index %>][service_data_attributes][1][service_type]" id="product_and_service_datum_product_and_service_weeks_attributes_<%= index %>_service_data_attributes_1_service_type">

			<% end %>

			<% service_row = 0 %>

			<!-- Service body rows -->
			<% ServiceData.services.each do |name| %>

			<tr class="service-<%= index %>-row">
				<td scope="row">
					<%= label_tag t('activerecord.attributes.service_datum.' + name) %>
				</td>
				<td>
				<% if index != -1 %>
					<%= text_field_tag 'product_and_service_datum[product_and_service_weeks_attributes][' + index.to_s + '][service_data_attributes][0][' + name +']', week.service_data[0].instance_eval(name), class: 'form-control ' + name + ' attendance attendance_week_' + index.to_s + ' week_' + index.to_s + ' numbers_only service_input service_checkup input-sm service_row_' + service_row.to_s + '_col_0' + (index >= totals_week_number-1 ? ' extra_tab temp_field' : ' '), readonly: fields_readonly?(week) %>

					<% else %>
					<%= text_field_tag 'product_and_service_week[service_data_attributes][0][' + name +']', week.service_data[0].instance_eval(name), class: 'form-control ' + name + ' week_' + index.to_s + ' attendance service_week_' + index.to_s + ' numbers_only service_input service_checkup input-sm service_row_' + service_row.to_s + '_col_0' + (index >= totals_week_number ? ' extra_tab temp_field' : ' '), disabled: index == totals_week_number-1 %>
					<% end %>
				</td>
				<td>
					<% if index != -1 %>

					<%= text_field_tag 'product_and_service_datum[product_and_service_weeks_attributes][' + index.to_s + '][service_data_attributes][1][' + name +']', week.service_data[1].instance_eval(name), class: 'form-control ' + name + ' return return_week_' + index.to_s + ' service_input numbers_only service_return input-sm service_row_' + service_row.to_s + '_col_1 week_' + index.to_s + (index >= totals_week_number-1 ? ' extra_tab temp_field' : ' '), readonly: fields_readonly?(week) %>

					<% else %>
					<%= text_field_tag 'product_and_service_week[service_data_attributes][1][' + name +']', week.service_data[1].instance_eval(name), class: 'form-control ' + name + ' week_' + index.to_s + ' attendance attendance_week_' + index.to_s + ' numbers_only service_input service_checkup input-sm service_row_' + service_row.to_s + '_col_1' + (index >= totals_week_number ? ' extra_tab temp_field' : ' '), disabled: index >= totals_week_number-1 %>
					<% end %>
				</td>
				<td>
					<%= text_field_tag name, '', id: 'total_week_' + index.to_s, class: 'form-control input-sm service_total temp_field', readonly: true, disabled: true %>
				</td>
			</tr>

			<% service_row += 1 %>

			<% end %>
		</div>

		<!-- Service totals row -->
		<tfoot>
			<tr>
				<td class="col-md-6">
					<%= label_tag t 'helpers.total' %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service_checkup', 0, id: 'total_service_checkup_week_' + index.to_s, class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
				<%= text_field_tag 'total_service_return', 0, id: 'total_service_return_week_' + index.to_s, class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
				<td class="col-md-2">
					<%= text_field_tag 'total_service', 0, id: 'total_service_week_' + index.to_s, class: 'form-control input-sm temp_field', readonly: true, disabled: true %>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>