<!-- Resend e-mail modal -->
<div class="modal fade" id="resend_email_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<%= form_tag '#', :remote => true, :id => 'resend_email_form' do %>
				<div class="modal-header">
					<%= t('modal.email.title.resend') %><span class="modal_company_name"></span>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<div id="resend_email_error_box" class="alert alert-danger fade in" style="display: none;">
						<a href="#" class="close" data-hide="alert">&times;</a>
					</div>
					<div class="form-group">
						<%= label_tag t('activerecord.attributes.email.competence') %>
						<%= text_field_tag "competence", "default info", :class => "form-control", :id => "resend_competence" %>
						<% if  params[:action]  == 'index' %>
							<%= hidden_field_tag "email_id", :id => "resend_email_id" %>
						<% end %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<%= t('helpers.action.cancel') %>
					</button>
					<%= submit_tag t('helpers.action.email.send'), :class => "btn btn-primary btn-ok" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Send test e-mail modal -->
<div class="modal fade" id="send_test_email_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<%= form_tag '#', :remote => true, :id => 'send_test_email_form' do %>
				<div class="modal-header">
					<%= t('modal.email.title.send_test') %><span class="modal_company_name"></span>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
				</div>
				<div class="modal-body">
					<div id="resend_email_error_box" class="alert alert-danger fade in" style="display: none;">
						<a href="#" class="close" data-hide="alert">&times;</a>
					</div>
					<div class="form-group">
						<%= label_tag t('activerecord.attributes.email.competence') %>
						<%= text_field_tag "competence", "default info", :class => "form-control", :id => "send_test_competence" %>
						<% if  params[:action]  == 'index' %>
							<%= hidden_field_tag "email_id", :id => "send_test_email_id" %>
						<% end %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<%= t('helpers.action.cancel') %>
					</button>
					<%= submit_tag t('helpers.action.email.send'), :class => "btn btn-primary btn-ok" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Warning save modal -->
<div class="modal fade" id="warning_save_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<%= t('modal.email.title.warning_save') %>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
			</div>
			<div class="modal-body">
				<%= t('modal.email.body.warning_save') %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<%= t('helpers.action.cancel') %>
				</button>

				<a class="btn btn-primary" id="modal_save_btn"><%= t('helpers.action.update') %></a>
			</div>
		</div>
	</div>
</div>

<!-- Recent e-mails modal -->
<% if @recent_emails %>
	<div class="modal fade" id="recent_emails_modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<%= form_tag '#', :remote => true, :id => 'resend_email_form' do %>
					<div class="modal-header">
						<%= t('modal.email.title.recent_emails', days: Email.recent_emails_days) %>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
					</div>
					<div class="modal-body">
						<table id="recent_emails_table" class="table table-striped table-condensed">
							<tr>
								<th><%= t('activerecord.attributes.email_history.created_at') %></th>
								<th><%= t('activerecord.attributes.email.company') %></th>
								<th><%= t('audit.type') %></th>
							</tr>

							<% if @recent_emails.empty? %>
								<tr><td colspan="3"><%= t('helpers.none') %></td></tr>
							<% end %>

							<% @recent_emails.each do |history| %>
								<tr>
									<% I18n.with_options(scope: 'activerecord.attributes.email') do |i18n| %>
										<td><%= l(history.created_at, format: :really_short) %></td>
										<td class="email_company">fgdf d  sdfsdfsdfdsfdsfsd   sdfdsfsdfsdfdsf<%= history.email.company.simple_name %></td>
										<td><%= history.send_type_desc %></td>
									<% end %>
								</tr>
							<% end %>
						</table>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>

	$('#modal_save_btn').on('click', function() {
		document.getElementById("main_form").submit();
	});

	function clean_resend_modal() {

		$('#resend_competence').mask('00/0000', {
			placeholder : "__/____"
		});

		competence_default = ("0" + (new Date().getMonth()+1)).slice(-2) + "/" + new Date().getFullYear();

		$('#resend_competence').val(competence_default);
	}

	function clean_send_test_modal() {

		$('#send_test_competence').mask('00/0000', {
			placeholder : "__/____"
		});

		competence_default = ("0" + (new Date().getMonth()+1)).slice(-2) + "/" + new Date().getFullYear();

		$('#send_test_competence').val(competence_default);
	}

	jQuery.noConflict();
	jQuery(document).ready(function($) {

		$("#send_test_email_form").on("ajax:success", function(e, data, status, xhr) {
			display_notice(data.message);
			add_history_item(data);
		}).on("ajax:error", function(e, xhr, status, error) {
			parse_json_errors(xhr.responseText);
		});

		$("#resend_email_form").on("ajax:success", function(e, data, status, xhr) {
			display_notice(data.message);
			add_history_item(data);
			add_recent_email(data);
		}).on("ajax:error", function(e, xhr, status, error) {
			parse_json_errors(xhr.responseText);
		});

		$("#remove_email_form").on("ajax:success", function(e, data, status, xhr) {
			display_notice(data.success);
		}).on("ajax:error", function(e, xhr, status, error) {
			parse_json_errors(xhr.responseText);
		});
	});

	$('#resend_email_form').submit(function(ev) {

		display_info('<%= t('alert.email.resending') %>');
		$('#resend_email_modal').modal('hide');

		<% if  params[:action]  == 'edit' %>

			for	(i = 0; i < attribute_names.length; i++)
				add_hidden('resend_email_form', attribute_names[i], $('#email_' + attribute_names[i]).val());

			$('#resend_email_form_recipients_array').val(formated_recipients());
			$('#resend_email_form_active').val($('#model_status').val());
			$('#resend_email_form_email_configuration_id').val($('#configuration').val());

		<% else %>

		<% end %>
	});

	$('#send_test_email_form').submit(function(ev) {

		display_info('<%= t('alert.email.sending_test') %>');
		$('#send_test_email_modal').modal('hide');

		<% if  params[:action]  == 'edit' %>

			for	(i = 0; i < attribute_names.length; i++)
				add_hidden('send_test_email_form', attribute_names[i], $('#email_' + attribute_names[i]).val());

			$('#send_test_email_form_recipients_array').val(formated_recipients());
			$('#send_test_email_form_active').val($('#model_status').val());
			$('#send_test_email_form_email_configuration_id').val($('#configuration').val());

		<% end %>

	});

	function add_history_item(response)
	{
		line = '<tr><td>' + response.date + '</td>' +
			'<td>' + response.value + '</td>' +
			'<td>' + response.type + '</td>' +
			'<td>' + response.user + '</td></tr>';
		$('#history_tablerecent_emails_table > tbody:last-child').append(line);
	}

	function add_recent_email(response)
	{
		line = '<tr><td>' + response.date + '</td>' +
			'<td>' + response.company + '</td>' +
			'<td>' + response.type + '</td>' +
			'</tr>';
		$('#recent_emails_table > tbody:last-child').append(line);
	}

	function add_hidden(form_id, key, value) {
	    var input = document.createElement('input');
	    input.type = 'hidden';
	    input.name = 'email[' + key + ']';
	    input.value = value;
	    document.getElementById(form_id).appendChild(input);
	}

</script>
