<% totals_tab_index = 5 %>

<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

<%= render partial: "shared/form_errors", locals: {model: @model} %>

<div class="row">
	<div class="col-md-4 form-group">

		<%= f.label :competence %>
		<% if f.object.finalized? %>
		<%= f.text_field '', {:class => 'form-control', :readonly => true} %>
		<% else %>
		<div class="input-group date" data-behaviour='datepickercompetence' >
			<%= text_field_tag 'aux_competence', I18n.localize(@model.competence, format: :competence_i), :class => 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			
		</div>
		<%= f.hidden_field :competence %>
		<% end %>
	</div>

	<% if f.object.persisted? %>
	<div class="col-md-4 form-group">
		<%= f.label :status %>
		<%= f.text_field :status_desc, {:class => 'form-control', :readonly => true} %>
	</div>
	<% end %>
</div>

<div class="visible-xs">
	<br/>
</div>

<!-- Tabs' header -->
<ul class="nav nav-tabs">

	<% @model.weeks.each do |week| %>
	<li id="prod_serv_data_tab_<%= week.number-1 %>_title" class="clickable"><a><%= t('activerecord.models.product_and_service_week.one') + ' ' + week.number.to_s %></a></li>
	<% end %>

	<li id="prod_serv_data_tab_5_title" class="clickable"><a><%= t 'helpers.total' %></a></li>
	<li id="prod_serv_data_tab_6_title" class="clickable"><a><%= t 'helpers.final_data' %></a></li>
</ul>

<!-- Tabs' body -->
<% f.object.product_and_service_weeks.each_with_index do |week, i| %>
<%= f.fields_for :product_and_service_weeks, week do |week_form| %>

<div id="prod_serv_data_tab_<%= i %>">
	<div class="tab_body">

		<%= week_form.hidden_field :number %>

		<!-- Week range -->
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><%= t 'helpers.from' %></span>
						<div class="date" data-behaviour='datepicker' >
							<span></span><%= week_form.text_field 'start_date', format: :competence_i, :class => 'form-control' %><span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
						<span class="input-group-addon" style="border-left: 0; border-right: 0;"><%= t 'helpers.to' %></span>
						<div class="date" data-behaviour='datepicker'>
							<span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
							<%= week_form.text_field 'end_date', format: :competence_i, :class => 'form-control' %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<!-- Main data -->
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<%= render partial: "service_data/form", locals: {index: i, week_form: week_form}%>
				</div>
				<div class="col-xs-12 col-md-5">
					<%= render partial: "product_data/form", locals: {index: i, week_form: week_form}%>
				</div>
			</div>

			<br/>

			<!-- Tab's footer -->
			<% if i == totals_tab_index+1 %>
			<div class="form-group">
				<div class="form-group col-md-12 asterisk-description"><%#= t('helpers.prod_and_serv_datum.final_footer') %></div>
			</div>
			<% elsif i != totals_tab_index %>
			<div class="row">
				<div class="form-group col-md-12 asterisk-description"><%#= t('helpers.prod_and_serv_datum.week_footer') %></div></div>
				<% end %>

				<div class="form-group">
					<%#= link_to t('helpers.action.email.save_and_send'), '#', :id => 'create_and_new_btn', :class => "btn btn-primary resend_btn" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>

	<!-- Totals tab -->
	<%= fields_for :totals_week do |total_form| %>
	<div id="prod_serv_data_tab_5">
		<div class="tab_body">

			<div class="container-fluid">

				<!-- Main data -->
				<div class="row">
					<div class="col-xs-12 col-md-7">
						<%= render partial: "service_data/form", locals: {index: 5, week_form: total_form}%>
					</div>
					<div class="col-xs-12 col-md-5">
						<%= render partial: "product_data/form", locals: {index: 5, week_form: total_form}%>
					</div>
				</div>

				<br/>
				<br/>

			</div>
		</div>
	</div>
	<% end %>

	<!-- Final data tab -->
	<%= fields_for :final_data_week do |total_form| %>
	<div id="prod_serv_data_tab_6">
		<div class="tab_body">

			<div class="container-fluid">

				<!-- Main data -->
				<div class="row">
					<div class="col-xs-12 col-md-7">
						<%= render partial: "service_data/form", locals: {index: 6, week_form: total_form}%>
					</div>
					<div class="col-xs-12 col-md-5">
						<%= render partial: "product_data/form", locals: {index: 6, week_form: total_form}%>
					</div>
				</div>

				<br/>

				<!-- Tab's footer -->
				<div class="row">

					<div class="form-group col-md-12 asterisk-description"><%#= t('helpers.prod_and_serv_datum.final_footer') %></div>
				</div>

				<div class="form-group">
					<%#= link_to t('helpers.action.email.send'), '#', :id => 'create_and_new_btn', :class => "btn btn-primary resend_btn" %>
				</div>

			</div>
		</div>
	</div>
	<% end %>

	<%= render partial: "shared/form_buttons", locals: {model: @model, f: f} -%>

	<% end %>

	<%= render partial: "shared/form_commons", locals: {model: @model} %>
	<%= render partial: "shared/tab_commons", locals: {tab_type: 'prod_serv_data', number_of_tabs: 7} %>

	<script>

		function preprocess_data() {}

		function sum_services_for_each_tab() {

			for (var i = 0; i <= 6; i++) {
				sum_services_from_tab(i);
			}

			load_extra_tabs();

		}

		function sum_products_for_each_tab() {

			for (var i = 0; i <= 6; i++) {
				sum_products_from_tab(i);			
			}

			load_extra_tabs();
		}

		function sum_products_from_tab(i) {

			sum = 0;

			$('.product_week_' + i).each(function(i, obj) {
				if(!isNaN($(this).val()))
					sum = +sum + +$(this).val();
			});

			$('#total_product_week_' + i).val(sum);
		}

		function sum_services_from_tab(i) {

			total_checkups = 0;
			total_returns = 0;

			$('.service-' + i + '-row').each(function(i, obj) {
				checkups = $(this).find('.service_checkup').val();
				returns = $(this).find('.service_return').val();
				total = $(this).find('.service_total');

				if(isNaN(checkups)) {
					checkups = 0;
				}

				if(isNaN(returns)) {
					returns = 0;
				}

				total_checkups += +checkups;
				total_returns += +returns;

				total.val(+checkups + +returns);
			});

			$('#total_service_checkup_week_' + i).val(total_checkups);
			$('#total_service_return_week_' + i).val(total_returns);
			$('#total_service_week_' + i).val(+total_checkups + +total_returns);
		}

		function load_extra_tabs() {

		// Services;
		for (var col = 0; col < 2; col++) {
			for (var row = 0; row < <%= ServiceData.quantity %>; row++) {

				var sum = 0;
				field = '.service_row_' + row + '_col_' + col;

				$(field).each(function() {
					if(!$(this).hasClass("extra_tab")) {
						sum += +$(this).val();
					}
				});

				$('.service_row_' + row + '_col_' + col + '_totals_tab').val(sum);
			}
		};

		// Products;
		for (var row = 0; row < <%= ProductData.quantity %>; row++) {

			var sum = 0;
			field = '.product_row_' + row;

			$(field).each(function() {
				if(!$(this).hasClass("extra_tab")) {
					sum += +$(this).val();
				}
			});

			$('.product_row_' + row + '_totals_tab').val(sum);

		};

		sum_products_from_tab(<%= totals_tab_index %>);
		sum_services_from_tab(<%= totals_tab_index %>);
		sum_products_from_tab(<%= totals_tab_index+1 %>);
		sum_services_from_tab(<%= totals_tab_index+1 %>);
		
	}

	$(function() {

		$('.service_input, .product_input').mask('999');

		$('#competence').val(current_competence());

		sum_services_for_each_tab();
		sum_products_for_each_tab();

		$('.service_input:not(.extra_tab)').on('blur', sum_services_for_each_tab);
		$('.product_input:not(.extra_tab)').on('blur', sum_products_for_each_tab);

		$('.attendance_week_<%= totals_tab_index %>, .return_week_<%= totals_tab_index %>, .product_week_<%= totals_tab_index %>').attr('readonly', true);
	});

	$('#aux_competence').on('change', function() {
		$('#bill_competence').val(to_rails_date('01/' + $('#aux_competence').val()));
	})

</script>