<% totals_week_number = 6 %>
<% final_week_number = 7 %>


<%= form_for @model, html: {id: 'main_form'} do |f| %>

<%= render partial: 'shared/form_errors', locals: {model: @model} %>

<div class="row">
	<div class="col-md-4 form-group">

		<%= f.label :competence %>
		<% if @model.persisted? %>
		<%= text_field_tag :competence, I18n.localize(@model.competence, format: :competence).capitalize, {class: 'form-control', id: 'product_and_service_datum_competence', readonly: true} %>
		<% else %>
		<div class="input-group date" data-behaviour='datepickercompetence' >
			<%= text_field_tag 'aux_competence', I18n.localize(@model.competence, format: :competence_i), class: 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		</div>
		<%= f.hidden_field :competence %>
		<% end %>
	</div>

	<% if f.object.persisted? %>
	<div class="col-md-4 form-group">
		<%= f.label :status %>
		<%= f.text_field :status_desc, {id: 'product_and_service_datum_status', class: 'form-control', readonly: true} %>
	</div>
	<div class="col-md-2 form-group admin-only">
		<%= f.label :id %>
		<%= f.text_field :id, {class: 'form-control', readonly: true} %>
	</div>
	<% end %>
</div>

<div class="visible-xs">
	<br/>
</div>

<!-- Tabs' header -->
<ul class="nav nav-tabs">

	<% @model.weeks.each do |week| %>
	<% if week.number < totals_week_number %>
	<li id="prod_serv_data_tab_<%= week.number-1 %>_title" class="clickable"><a><%= t('activerecord.models.product_and_service_week.one') + ' ' + week.number.to_s %></a></li>
	<% end %>
	<% end %>

	<li id="prod_serv_data_tab_5_title" class="clickable"><a><%= t 'helpers.total' %></a></li>
	<% if @model.on_analysis? or @model.finalized? %>
	<li id="prod_serv_data_tab_6_title" class="clickable"><a><%= t 'helpers.final_data' %></a></li>
	<% end %>
</ul>

<!-- Tabs' body -->
<% f.object.product_and_service_weeks.each_with_index do |week, index| %>
<%= f.fields_for :product_and_service_weeks, week do |week_form| %>

<div id="prod_serv_data_tab_<%= index %>" style="display:none;">
	<div class="tab_body">

		<!-- Week range -->
		<div class="container-fluid" <%= 'style=display:none' if week.number >= totals_week_number %>>
			<div class="row">
				
				<% if week_range_readonly?(week) %>
				<div class="form-group col-md-5">
					<%= f.text_field_tag 'week_range', t('helpers.from') + ' ' +  week.start_date.to_s + ' ' + t('helpers.to') + ' ' + week.end_date.to_s, class: 'form-control', readonly: true %>
				</div>
				<% else %>
				<div class="form-group col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><%= t 'helpers.from' %></span>
						<div class="date" data-behaviour='datepicker' >
							<span></span><%= week_form.text_field :start_date, class: 'form-control', readonly: @model.finalized? %><span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
						<span class="input-group-addon" style="border-left: 0; border-right: 0;"><%= t 'helpers.to' %></span>
						<div class="date" data-behaviour='datepicker'>
							<span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
							<%= week_form.text_field :end_date, class: 'form-control', readonly: @model.finalized? %>
						</div>
					</div>
				</div>
				<% end %>

				<div class="form-group col-md-2 admin-only">
					<%= week_form.text_field :id, id: 'admin-id-' + index.to_s, class: 'form-control', readonly: true %>
				</div><div class="form-group col-md-2 admin-only">
				<%= week_form.text_field :number, class: 'form-control', readonly: true %>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<!-- Main data -->
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<%= render partial: 'service_data/form', locals: {week: week, index: index, week_form: week_form}%>
			</div>
			<div class="col-xs-12 col-md-5">
				<%= render partial: 'product_data/form', locals: {week: week, index: index, week_form: week_form}%>
			</div>
		</div>

		<br/>

		<% if @model.persisted? %>
		<!-- Weeks tab's footer -->
		<% if week.number < totals_week_number %>
		<!-- Weeks -->
		<% if !@model.finalized? and !@model.on_analysis? %>
		<div class="row">
			<div class="form-group col-md-12 asterisk-description"><%= t('helpers.prod_and_serv_datum.week_footer') %></div></div>

			<div class="form-group">
				<%= link_to t('helpers.action.email.save_and_send'), 'javascript:void(0)', id: 'update_and_send_btn_' + index.to_s, class: 'btn btn-primary resend_btn' %>
			</div>
			<% end %>
			<!-- Totals week -->
			<% elsif week.number == totals_week_number and !@model.finalized? and !@model.on_analysis? %>
			<div class="form-group"><%= link_to t('helpers.action.send_to_analysis'), 'javascript:void(0)', id: 'update_and_send_btn_5', class: 'btn btn-primary send_btn' %></div>
			<!-- Final Week -->
			<% elsif week.number == final_week_number and @model.on_analysis? %>

			<div class="form-group">
				<%= link_to t('helpers.action.product_and_service.update_final_data'), 'javascript:void(0)', id: 'update_final_data_btn', class: 'btn btn-primary' %>
				<%= link_to t('helpers.action.email.send'), 'javascript:void(0)', id: 'update_and_send_btn_6', class: 'btn btn-primary send_btn' %>
			</div>

			<% if @model.persisted? %>
			<div class="row">

				<div class="form-group col-md-12 asterisk-description"><%= t('helpers.prod_and_serv_datum.final_footer') %></div>
			</div>

			<% end  %>
			<% end # if common week %>
			<% end # if persisted %>
		</div>
	</div>
</div>
	<% end # fields_for %>
	<% end # week loop %>

	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f unless @model.finalized? %>
	    <a id="form_back_btn" class="btn btn-primary back_btn"><%= t('helpers.action.back') %></a>
	</div>

	<% end %>

	<%= form_for ProductAndServiceWeek.new, url: update_and_send_product_and_service_weeks_path, html: {id: 'hidden_week_form', style: 'display:none;'}, authenticity_token: true do |hidden_f| %>

	<div class="row">
		<%= hidden_f.text_field :id, class: 'form-control' %>
		<%= hidden_f.text_field :start_date, value: Date.today, class: 'form-control' %>
		<%= hidden_f.text_field :end_date, value: Date.today, class: 'form-control' %>

		<input type="hidden" name="product_and_service_week[service_data_attributes][0][id]" id="product_and_service_week_service_data_attributes_0_id">

		<input type="hidden" name="product_and_service_week[service_data_attributes][1][id]" id="product_and_service_week_service_data_attributes_1_id">

		<input type="hidden" value="attendance" name="product_and_service_week[service_data_attributes][0][service_type]" id="product_and_service_week_service_data_attributes_0_service_type">

		<input type="hidden" value="return" name="product_and_service_week[service_data_attributes][1][service_type]" id="product_and_service_week_service_data_attributes_1_service_type">
	</div>

	<%= render partial: 'service_data/form', locals: {week: ProductAndServiceWeek.new, index: -1, week_form: hidden_f}%>
	<%= render partial: 'product_data/form', locals: {week: ProductAndServiceWeek.new, index: -1, week_form: hidden_f}%>
	<% end %>

	<%= render partial: 'shared/form_commons', locals: { model: @model } %>
	<%= render partial: 'shared/tab_commons', locals: {tab_type: 'prod_serv_data', number_of_tabs: 7} %>

	<script>

		function preprocess_data() {}

		$('#main_form').submit(function() {
			<% unless @model.persisted? %>
			$("#aux_competence").prop("disabled", true);
			$('#product_and_service_datum_competence').val('01/' + $('#aux_competence').val());
			<% end %>
		});

		function sum_services_for_each_tab() {

			for (var i = 0; i <= <%= final_week_number %>; i++) {
				sum_services_from_tab(i);
			}

			sums_to_tab(<%= totals_week_number-1 %>);
		}

		function sum_products_for_each_tab() {

			for (var i = 0; i <= <%= final_week_number %>; i++) {
				sum_products_from_tab(i);			
			}

			sums_to_tab(<%= totals_week_number-1 %>);
		}

		function sum_products_from_tab(i) {

			sum = 0;

			$('.product_week_' + i).each(function(i, obj) {
				if(!isNaN($(this).val()))
					sum = +sum + +$(this).val();
			});

			$('#total_product_week_' + i).val(sum);
		}

		function sum_services_from_tab(i) {

			total_checkups = 0;
			total_returns = 0;

			$('.service-' + i + '-row').each(function(i, obj) {
				checkups = $(this).find('.service_checkup').val();
				returns = $(this).find('.service_return').val();
				total = $(this).find('.service_total');

				if(isNaN(checkups)) {
					checkups = 0;
				}

				if(isNaN(returns)) {
					returns = 0;
				}

				total_checkups += +checkups;
				total_returns += +returns;

				total.val(+checkups + +returns);
			});

			$('#total_service_checkup_week_' + i).val(total_checkups);
			$('#total_service_return_week_' + i).val(total_returns);
			$('#total_service_week_' + i).val(+total_checkups + +total_returns);
		}

		function sums_to_tab(index) {

		// Services;
		for (var col = 0; col < 2; col++) {
			for (var row = 0; row < <%= ServiceData.number_of_services %>; row++) {

				var sum = 0;
				field = '.service_row_' + row + '_col_' + col;

				$(field).each(function() {
					if(!$(this).hasClass("extra_tab")) {
						sum += +$(this).val();
					}
				});

				$('.service_row_' + row + '_col_' + col + '.week_' + index).val(sum);
			}
		};

		// Products;
		for (var row = 0; row < <%= ProductData.number_of_products %>; row++) {

			var sum = 0;
			field = '.product_row_' + row;

			$(field).each(function() {
				if(!$(this).hasClass("extra_tab")) {
					sum += +$(this).val();
				}
			});

			$('.product_row_' + row + '.week_' + index).val(sum);

		};

		sum_products_from_tab(index);
		sum_services_from_tab(index);		
	}

	$(function() {

		$("#aux_competence").prop("disabled", false);

		$('.service_input, .product_input').mask('999');

		$('#competence').val(current_competence());

		sum_services_for_each_tab();
		sum_products_for_each_tab();

		$('.service_input').on('blur', sum_services_for_each_tab);
		$('.product_input').on('blur', sum_products_for_each_tab);

		$('#update_final_data_btn').on('click', sums_to_tab.bind(self, <%= totals_week_number %>));

		for (var i = 0; i < <%= @model.weeks.length+2 %>; i++) {
			$('#update_and_send_btn_' + i).on('click', copy_to_hidden_form_and_send.bind(self, i));
		}
	});

	$('#aux_competence').on('change', function() {
		$('#product_and_service_datum_competence').val(to_rails_date('01/' + $('#aux_competence').val()));
	})

	function copy_to_hidden_form_and_send(week_number) {

		<% ProductData.products.each do |name| %>
		$('#product_and_service_week_product_data_attributes_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_product_data_attributes_<%= name %>').val());
		<% end %>

		<% ServiceData.services.each do |name| %>
		$('#product_and_service_week_service_data_attributes_0_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_service_data_attributes_0_<%= name %>').val());

		$('#product_and_service_week_service_data_attributes_1_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_service_data_attributes_1_<%= name %>').val());
		<% end %>


		// Week ID;
		$('#product_and_service_week_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_id').val());

		// Services and product IDs;
		$('#product_and_service_week_service_data_attributes_0_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_service_data_attributes_0_id').val());

		$('#product_and_service_week_service_data_attributes_1_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_service_data_attributes_1_id').val());

		$('#product_and_service_week_product_data_attributes_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_product_data_attributes_id').val());


		// Service types;
		$('#product_and_service_week_service_data_0_service_type').val('<%= :attendance %>');

		$('#product_and_service_week_service_data_1_service_type').val('<%= :return %>');

		// The final data will be sent to the the institute's clients. Else, the partial data will be sent to the collaborators;
		if(week_number == <%= final_week_number-1 %>) {

			$('#hidden_week_form').attr('action', '/product_and_service_weeks/send_clients');
		} else if(week_number == <%= totals_week_number-1 %>) {

			$('#hidden_week_form').attr('action', '/product_and_service_weeks/send_to_analysis');
		} else {

			// Dates;
			$('#product_and_service_week_start_date').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_start_date').val());

			$('#product_and_service_week_end_date').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + week_number + '_end_date').val());
		}

		display_info("<%= t 'alert.email.sending' %>");

		$("#hidden_week_form").submit();

	}
</script>