<%= form_for @model, html: { id: 'main_form' } do |f| %>

	<%= render 'shared/form_errors' %>

	<div class="row">
		<div class="col-md-4 form-group">
			<%= f.label :competence %>
			<% if @model.persisted? %>
				<%= text_field_tag :competence, I18n.localize(@model.competence, format: :competence).capitalize, { class: 'form-control', id: 'product_and_service_datum_competence', readonly: true } %>
			<% else %>
				<div class="input-group date" data-behaviour='datepickercompetence' >
				<%= text_field_tag 'aux_competence', I18n.localize(@model.competence, format: :competence_i), class: 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
				<%= f.hidden_field :competence %>
			<% end %>
		</div>

		<% if f.object.persisted? %>
			<div class="col-md-4 form-group">
				<%= f.label :status %>
				<%= f.text_field :status_desc, { id: 'product_and_service_datum_status', class: 'form-control', readonly: true } %>
			</div>
			<div class="col-md-2 form-group admin-only">
				<%= f.label :id %>
				<%= f.text_field :id, { class: 'form-control', readonly: true } %>
			</div>
		<% end %>
	</div>

	<div class="visible-xs">
		<br/>
	</div>

	<!-- Tabs' header -->
	<ul class="nav nav-tabs">

		<% @model.weeks.each do |week| %>
			<% if week.common? %>
				<li id="prod_serv_data_tab_<%= week.index %>_title"><a><%= week.title %></a></li>
			<% end %>
		<% end %>

		<li id="prod_serv_data_tab_5_title"><a><%= t 'helpers.total' %></a></li>
		<% if @model.on_analysis? or @model.finalized? %>
			<li id="prod_serv_data_tab_6_title"><a><%= t 'helpers.final_data' %></a></li>
		<% end %>
	</ul>

	<!-- Tabs' body -->
	<%= render f.object.product_and_service_weeks, f: f %>
	
	<br/>

	<div class="form-buttons">
	    <%= save_update_btn @model, f unless @model.finalized? %>
	    <%= form_back_btn %>
	</div>

<% end # main_form %>

<%= form_for ProductAndServiceWeek.new, url: update_and_send_product_and_service_weeks_path, html: { id: 'hidden_week_form', class: 'hidden' }, authenticity_token: true do |hidden_f| %>

	<%= hidden_f.text_field :id, id: "hiddenweek_id" %>
	<%= hidden_f.text_field :start_date, value: Date.today, id: "hiddenweek_start_date" %>
	<%= hidden_f.text_field :end_date, value: Date.today, id: "hiddenweek_end_date" %>

	<!-- Products -->
	<%= hidden_f.fields_for :product_data_attributes do |prod_f| %>
		<%= prod_f.hidden_field :id, id: "hiddenweek_product_id" %>
		<% ProductData.products.each do |name| %>
			<%= prod_f.hidden_field name, id: "hiddenweek_product_#{name}" %>
		<% end %>
	<% end %>

	<!-- Services -->
	<% hidden_f.object.service_data.each_with_index do |serv, index| %>
		<%= hidden_f.fields_for :service_data, serv do |serv_f| %>
			<%= serv_f.hidden_field :id, id: "hiddenweek_service_id_c#{index}" %>
			<% ServiceData.services.each do |name| %>
				<%= serv_f.hidden_field name, id: "hiddenweek_service_#{name}_c#{index}" %>
			<% end %>
		<% end %>
	<% end %>

<% end #hidden_form %>

<%= render 'shared/form_commons' %>
