<% totals_tab_index = 5 %>

<%= form_for @model, :html=> {:id => 'main_form'} do |f| %>

<%= render partial: "shared/form_errors", locals: {model: @model} %>

<div class="row">
	<div class="col-md-4 form-group">

		<%= f.label :competence %>
		<% if @model.persisted? %>
		<%= text_field_tag :competence, I18n.localize(@model.competence, format: :competence).capitalize, {:class => 'form-control', id: 'competence_text', :readonly => true} %>
		<% else %>
		<div class="input-group date" data-behaviour='datepickercompetence' >
			<%= text_field_tag 'aux_competence', I18n.localize(@model.competence, format: :competence_i), :class => 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		</div>
		<%= f.hidden_field :competence %>
		<% end %>
	</div>

	<% if f.object.persisted? %>
	<div class="col-md-4 form-group">
		<%= f.label :status %>
		<%= f.text_field :status_desc, {:class => 'form-control', :readonly => true} %>
	</div>
	<% end %>
</div>

<div class="visible-xs">
	<br/>
</div>

<!-- Tabs' header -->
<ul class="nav nav-tabs">

	<% @model.weeks.each do |week| %>
	<li id="prod_serv_data_tab_<%= week.number-1 %>_title" class="clickable"><a><%= t('activerecord.models.product_and_service_week.one') + ' ' + week.number.to_s %></a></li>
	<% end %>

	<li id="prod_serv_data_tab_5_title" class="clickable"><a><%= t 'helpers.total' %></a></li>
	<li id="prod_serv_data_tab_6_title" class="clickable"><a><%= t 'helpers.final_data' %></a></li>
</ul>

<!-- Tabs' body -->
<% f.object.product_and_service_weeks.each_with_index do |week, i| %>
<%= f.fields_for :product_and_service_weeks, week do |week_form| %>

<div id="prod_serv_data_tab_<%= i %>">
	<div class="tab_body">

	<div class="container-fluid admin-only" style="display:none;"><div class="row"><div class="form-group col-md-3">
		<%= week_form.text_field :id, class: 'form-control', disabled: true %>
		</div></div>
		</div>

		<%= week_form.hidden_field :id %>
		<%= week_form.hidden_field :number %>

		<!-- Week range -->
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><%= t 'helpers.from' %></span>
						<div class="date" data-behaviour='datepicker' >
							<span></span><%= week_form.text_field :start_date, format: :competence_i, :class => 'form-control' %><span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
						<span class="input-group-addon" style="border-left: 0; border-right: 0;"><%= t 'helpers.to' %></span>
						<div class="date" data-behaviour='datepicker'>
							<span style="display:none;" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
							<%= week_form.text_field :end_date, format: :competence_i, :class => 'form-control' %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<!-- Main data -->
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<%= render partial: "service_data/form", locals: {week: week, index: i, week_form: week_form}%>
				</div>
				<div class="col-xs-12 col-md-5">
					<%= render partial: "product_data/form", locals: {week: week, index: i, week_form: week_form}%>
				</div>
			</div>

			<br/>

			<!-- Weeks tab's footer -->
			<% if @model.persisted? %>
			<div class="row">
				<div class="form-group col-md-12 asterisk-description"><%= t('helpers.prod_and_serv_datum.week_footer') %></div></div>
				

				<div class="form-group">
					<%= link_to t('helpers.action.email.save_and_send'), 'javascript:void(0)', id: 'update_and_send_btn_' + i.to_s, :class => "btn btn-primary resend_btn" %>
				</div>
			<% end %>
			</div>

			<% end %>
		</div>
	</div>
	<% end %>

	<!-- Totals tab -->
	<%= fields_for :totals_week do |total_form| %>
	<div id="prod_serv_data_tab_5">
		<div class="tab_body">

			<div class="container-fluid">

				<!-- Main data -->
				<div class="row">
					<div class="col-xs-12 col-md-7">
						<%= render partial: "service_data/form", locals: {week: ProductAndServiceWeek.new, index: 5, week_form: total_form}%>
					</div>
					<div class="col-xs-12 col-md-5">
						<%= render partial: "product_data/form", locals: {week: ProductAndServiceWeek.new, index: 5, week_form: total_form}%>
					</div>
				</div>

				<br/>
				<br/>

			</div>
		</div>
	</div>
	<% end %>

	<!-- Final data tab -->
	<%= fields_for :final_data_week do |total_form| %>
	<div id="prod_serv_data_tab_6">
		<div class="tab_body">

			<div class="container-fluid">

				<!-- Main data -->
				<div class="row">
					<div class="col-xs-12 col-md-7">
						<%= render partial: "service_data/form", locals: {week: ProductAndServiceWeek.new, index: 6, week_form: total_form}%>
					</div>
					<div class="col-xs-12 col-md-5">
						<%= render partial: "product_data/form", locals: {week: ProductAndServiceWeek.new, index: 6, week_form: total_form}%>
					</div>
				</div>

				<br/>

				<!-- Tab's footer -->
				<% if @model.persisted? %>
				<div class="row">

					<div class="form-group col-md-12 asterisk-description"><%= t('helpers.prod_and_serv_datum.final_footer') %></div>
				</div>

				<div class="form-group">
					<%= link_to t('helpers.action.email.send'), 'javascript:void(0)', :id => 'update_and_send_btn_6', :class => "btn btn-primary resend_btn" %>
				</div>
				<% end %>

			</div>
		</div>
	</div>
	<% end %>


	<%= render partial: "shared/form_buttons", locals: {model: @model, f: f} -%>

	<% end %>


	<%= form_for ProductAndServiceWeek.new, url: update_and_send_product_and_service_weeks_path, html: {id: 'hidden_week_form', style: "display:none;"}, authenticity_token: true do |f| %>

	<div class="row">
		<%= f.text_field :id, :class => "form-control" %>
		<%= f.text_field :start_date, :class => "form-control" %>
		<%= f.text_field :end_date, :class => "form-control" %>

		<input type="hidden" name="product_and_service_week[service_data_attributes][0][id]" id="product_and_service_week_service_data_attributes_0_id">

		<input type="hidden" name="product_and_service_week[service_data_attributes][1][id]" id="product_and_service_week_service_data_attributes_1_id">

		<input type="hidden" name="product_and_service_week[product_data_attributes][id]" id="product_and_service_week_product_data_attributes_id">


		<input type="hidden" value="0" name="product_and_service_week[service_data_attributes][0][service_type]" id="product_and_service_week_service_data_attributes_1_service_type">

		<input type="hidden" value="1" name="product_and_service_week[service_data_attributes][1][service_type]" id="product_and_service_week_service_data_attributes_1_service_type">
	</div>


		<%= render partial: "service_data/form", locals: {week: ProductAndServiceWeek.new, index: -1, week_form: f}%>
		<%= render partial: "product_data/form", locals: {week: ProductAndServiceWeek.new, index: -1, week_form: f}%>
	<% end %>

	<%= render partial: "shared/form_commons", locals: {model: @model} %>
	<%= render partial: "shared/tab_commons", locals: {tab_type: 'prod_serv_data', number_of_tabs: 7} %>

	<script>

		function preprocess_data() {}

		function sum_services_for_each_tab() {

			for (var i = 0; i <= 6; i++) {
				sum_services_from_tab(i);
			}

			load_extra_tabs();

		}

		function sum_products_for_each_tab() {

			for (var i = 0; i <= 6; i++) {
				sum_products_from_tab(i);			
			}

			load_extra_tabs();
		}

		function sum_products_from_tab(i) {

			sum = 0;

			$('.product_week_' + i).each(function(i, obj) {
				if(!isNaN($(this).val()))
					sum = +sum + +$(this).val();
			});

			$('#total_product_week_' + i).val(sum);
		}

		function sum_services_from_tab(i) {

			total_checkups = 0;
			total_returns = 0;

			$('.service-' + i + '-row').each(function(i, obj) {
				checkups = $(this).find('.service_checkup').val();
				returns = $(this).find('.service_return').val();
				total = $(this).find('.service_total');

				if(isNaN(checkups)) {
					checkups = 0;
				}

				if(isNaN(returns)) {
					returns = 0;
				}

				total_checkups += +checkups;
				total_returns += +returns;

				total.val(+checkups + +returns);
			});

			$('#total_service_checkup_week_' + i).val(total_checkups);
			$('#total_service_return_week_' + i).val(total_returns);
			$('#total_service_week_' + i).val(+total_checkups + +total_returns);
		}

		function load_extra_tabs() {

		// Services;
		for (var col = 0; col < 2; col++) {
			for (var row = 0; row < <%= ServiceData.number_of_services %>; row++) {

				var sum = 0;
				field = '.service_row_' + row + '_col_' + col;

				$(field).each(function() {
					if(!$(this).hasClass("extra_tab")) {
						sum += +$(this).val();
					}
				});

				$('.service_row_' + row + '_col_' + col + '_totals_tab').val(sum);
			}
		};

		// Products;
		for (var row = 0; row < <%= ProductData.number_of_products %>; row++) {

			var sum = 0;
			field = '.product_row_' + row;

			$(field).each(function() {
				if(!$(this).hasClass("extra_tab")) {
					sum += +$(this).val();
				}
			});

			$('.product_row_' + row + '_totals_tab').val(sum);

		};

		sum_products_from_tab(<%= totals_tab_index %>);
		sum_services_from_tab(<%= totals_tab_index %>);
		sum_products_from_tab(<%= totals_tab_index+1 %>);
		sum_services_from_tab(<%= totals_tab_index+1 %>);
		
	}

	$(function() {

		$('.service_input, .product_input').mask('999');

		$('#competence').val(current_competence());

		sum_services_for_each_tab();
		sum_products_for_each_tab();

		$('.service_input:not(.extra_tab)').on('blur', sum_services_for_each_tab);
		$('.product_input:not(.extra_tab)').on('blur', sum_products_for_each_tab);

		$('.attendance_week_<%= totals_tab_index %>, .return_week_<%= totals_tab_index %>, .product_week_<%= totals_tab_index %>').attr('readonly', true);

		for (var i = 0; i < <%= @model.weeks.length+2 %>; i++) {
			$('#update_and_send_btn_' + i).on('click', copy_to_hidden_form_and_send.bind(self, i));
		}
	});

	$('#aux_competence').on('change', function() {
		$('#product_and_service_datum_competence').val(to_rails_date('01/' + $('#aux_competence').val()));
	})

	function copy_to_hidden_form_and_send(source_week_id) {

		<% ProductData.products.each do |name| %>
			$('#product_and_service_week_product_data_attributes_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_product_data_attributes_<%= name %>').val());
		<% end %>

		<% ServiceData.services.each do |name| %>
			$('#product_and_service_week_service_data_attributes_0_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_service_data_attributes_0_<%= name %>').val());

			$('#product_and_service_week_service_data_attributes_1_<%= name %>').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_service_data_attributes_1_<%= name %>').val());
		<% end %>

		// The final data will be sent to the the institute's clients. Else, the partial data will be sent to the collaborators;
		if(source_week_id == <%= totals_tab_index+1 %>) {
			$('#hidden_week_form').attr('action', '/product_and_service_data/update_and_send');
		} else {
			
			// Week ID;
			$('#product_and_service_week_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_id').val());

			// Services and product IDs;
			$('#product_and_service_week_service_data_attributes_0_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_service_data_attributes_0_id').val());

			$('#product_and_service_week_service_data_attributes_1_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_service_data_attributes_1_id').val());

			$('#product_and_service_week_product_data_attributes_id').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_product_data_attributes_id').val());

			// Dates;
			$('#product_and_service_week_start_date').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_start_date').val());

			$('#product_and_service_week_end_date').val($('#product_and_service_datum_product_and_service_weeks_attributes_' + source_week_id + '_end_date').val());

			// Service types;
			$('#product_and_service_week_service_data_0_service_type').val(0);

			$('#product_and_service_week_service_data_1_service_type').val(1);

			
		}

		display_info("Enviando e-mail...");

		$("#hidden_week_form").submit();

	}
</script>