
<%= new_btn %>

<%= render 'shared/pagination', top: true %>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed tablesorter tablesorter-blue">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.product_and_service_datum') do |i18n| %>
				<th class="admin-only id-column"></th>
				<th class="sorter-false"><%= i18n.t :competence %></th>
				<th class="sorter-false"><%= i18n.t :services %></th>
				<th class="sorter-false"><%= i18n.t :products %></th>
				<th class="sorter-false"><%= i18n.t :status %></th>
				<th class="sorter-false icon-column"></th>
				<th class="admin-only sorter-false"></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<%= no_records_row @model, @list %>
			<% @list.each do |iterator| %>
			<tr id="model_<%= iterator.id %>" class="model_row">
				<td class="model_id admin-only"><%= iterator.id %></td>
				<td><%=	I18n.localize(iterator.competence, format: :competence).capitalize %></td>
				<td><%= iterator.service_qty %></td>
				<td><%= iterator.product_qty %></td>
				<td><%= iterator.status_desc %></td>
				<td class="icon-column"><%= edit_btn iterator %></td>
				<td class="admin-only icon-column"><%= destroy_btn %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/pagination', top: false %>
<%= render 'shared/index_commons' %>
