<%= link_to genderize_full_tag(@model, 'helpers.action.new'), send("new_product_and_service_datum_path"), :class => "btn btn-primary" %>

</p>

<table id="index_table" class="table table-striped table-hover table-bordered table-condensed tablesorter tablesorter-blue">
	<thead>
		<tr>
			<% I18n.with_options(scope: 'activerecord.attributes.product_and_service_datum') do |i18n| %>
			<th class="admin-only" style="display: none;"></th>
			<th class="sorter-false"><%= i18n.t 'competence' %></th>
			<th class="sorter-false"><%= i18n.t 'services' %></th>
			<th class="sorter-false"><%= i18n.t 'products' %></th>
			<th class="sorter-false"><%= i18n.t 'status' %></th>
			<th class="sorter-false" style="width: 16px;"></th>
			<th class="admin-only sorter-false" style="display:none;"></th>
			<% end %>
		</tr>
	</thead>

	<% if @list.empty? %>
	<tr>
		<td colspan="7" bgcolor="#E0E0F4" align="center"><%= genderize_tag(@model, 'helpers.none_registered') %></td>
	</tr>

	<% else %>
	<tbody>
		<% @list.each do |iterator| %>
		<tr id='model_<%= iterator.id %>' class="model_row">
			<td class="model_id admin-only" style="display: none;"><%= iterator.id %></td>
			<td><%=	I18n.localize(iterator.competence, format: :competence).capitalize %></td>
			<td><%= iterator.service_qty %></td>
			<td><%= iterator.product_qty %></td>
			<td><%= iterator.status_desc %></td>
			<td class="icon-column"><%= link_to image_tag("edit.png", :title => t('helpers.action.edit')), send("edit_product_and_service_datum_path", iterator) %></td>
			<td class="admin-only table_icon" style="display:none;">
					<%= image_tag("destroy.png", title: t('helpers.action.destroy'), class: 'clickable destroy_btn') %>
					</td>
		</tr>
		<% end %>
	</tbody>

	<% end %>
</table>

<%= render partial: "shared/index_commons", locals: {model: @model} %>