<% totals_week_number = 6 %>
<% final_week_number = 7 %>

<fieldset>

	<legend><%= t 'activerecord.models.product_datum.other' %></legend>

	<!-- Product empty header row -->
	<table class="input-table">
		<thead>
			<th scope="col" class="col-md-2">
			</th>
			<th scope="col"></th>
		</thead>

		<%= week_form.fields_for :product_data do |product_form| %>

		<div class="container-fluid admin-only" style="display:none;"><div class="row"><div class="form-group col-md-6">
		<%= product_form.text_field :id, class: 'form-control' %>
		</div></div>
		</div>

		<% product_row = 0 %>

		<!-- Product body rows -->
		<% ProductData.products.each do |name| %>

		<tr>
			<td scope="row" class="col-xs-7 col-md-7 form-group">
				<%= label_tag t('activerecord.attributes.product_datum.' + name) %>
			</td>
			<td class="col-xs-1 col-md-1 nopadding form-group">
			</td>
			<td>
				<%= product_form.text_field name, class: 'form-control product_input numbers_only product_row_' + product_row.to_s + ' product_week_' + index.to_s + ' input-sm week_' + index.to_s + (index >= totals_week_number ? ' extra_tab temp_field' : ''), readonly: fields_readonly?(week) %>
			</td>
		</tr>

		<% product_row += 1 %>

		<% end %>
		<% end %>

		<!-- Product total row -->
		<tfoot>
			<tr>
				<td>
					<%= label_tag t 'helpers.total' %>
				</td>
				<td>
				</td>
				<td>
					<%= text_field_tag 'total_product', 0, id: 'total_product_week_' + index.to_s, class: 'form-control input-sm temp_field', readonly: true, :disabled => true %>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>