<% week = week_f.object %>

<fieldset>

	<legend><%= t 'activerecord.models.product_datum.other' %><span class="admin-only"><%= product_id(week) %></span></legend>

	<%= week_f.fields_for :product_data do |product_f| %>

		<table class="input-table">
			<!-- Product empty header row -->
			<thead>
				<tr>
					<th scope="col" class="col-md-2"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>


			<!-- Product body rows -->
			<tbody>
				<% ProductData.products.each_with_index do |name, row| %>
					<tr>
						<th scope="row" class="col-xs-7 col-md-7">
							<%= t("activerecord.attributes.product_data.#{name}") %>
						</th>
						<td class="col-xs-1 col-md-1">
						</td>
						<td>
							<%= product_f.text_field name, 
								id: "w#{week.index}_product_#{name}",
								maxlength: 3,
								class: product_classes(week, row) + " product_#{name} product_w#{week.index}", 
								readonly: fields_readonly?(week) %>
						</td>
					</tr>
				<% end %>
			</tbody>


			<!-- Product total row -->
			<tfoot>
				<tr>
					<th scope="row" class="col-xs-7 col-md-7">
						<%= t 'helpers.total' %>
					</th>
					<td class="col-xs-1 col-md-1">
					</td>
					<td>
						<%= text_field_tag 'total_product', 
							0, 
							id: "w#{week.index}_product_total", 
							class: 'form-control input-sm temp_field product_total_field_row', 
							readonly: true, 
							disabled: true %>
					</td>
				</tr>
			</tfoot>
		</table>
	<% end %>
</fieldset>