<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<title><%= t('app_data.app_title') %></title>

		<link rel="icon" type="image/png" href="/assets/app_logo.png" sizes="32x32">
		<link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/pt-br.js"></script>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= csrf_meta_tags %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	</head>

	<body data-no-turbolink="true" class="<%= controller_name %> <%= action_name %>">
		<div class="main_box">
			<%= render 'others/header' %>
			<%= render 'others/message_area' %>
			<%= yield -%>
			<%= render 'others/footer' %>
		</div>

		<%= render 'others/modals' %>

		<script type="text/javascript">
		  I18n.defaultLocale = "<%= I18n.default_locale %>";
		  I18n.locale = "<%= I18n.locale %>";
		</script>
	</body>
</html>
