<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<title><%= t('app_data.app_title') %></title>

		<link rel="icon" type="image/png" href="/assets/app_logo.png" sizes="32x32">
		<link href='https://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'bundle' %>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
	</head>

	<body data-no-turbolink="true" class="<%= controller_name %> <%= action_name %>">
		<div id="server_data">
			<input type="hidden" id="rails_env" value="<%= Rails.env %>">
			<input type="hidden" id="rails_model" value="<%= @model.class.model_name.name.underscore if @model %>">
			<input type="hidden" id="i18n_model" value="<%= @model.class.model_name.name.underscore if @model %>">
			<input type="hidden" id="rails_controller" value="<%= controller_name %>">
		</div>

		<div class="main_box">
			<%= render 'others/header' %>
			<%= render 'others/message_area' %>
			<%= yield -%>
			<%= render 'others/footer' %>
		</div>

		<%= render 'others/modals' %>
	</body>
</html>
