<html>
	<head>

		<title><%= t('app_title') %></title>

		<link rel="icon" type="image/png" href="/assets/app_logo.png" sizes="32x32">

		<!-- Jquery + jquery libs -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Rails -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= csrf_meta_tags %>

	</head>

	<body>
		<div class="main_box">

			<!-- MENU -->
			<% if user_signed_in? %>
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" rel="home" href="/" title="<%= t('app_title') %>">
					    <img style="max-width: 150%; max-height: 150%; margin-top: -5px;" src="/assets/app_logo.png">
					  </a>
				    </div>
				    <div class="collapse navbar-collapse" id="main_menu">
				      <ul class="nav navbar-nav">
				        <li class="<%= 'active' if params[:controller] == 'companies' %>">
							<a href="/companies"><%= Company.new.model_name.human(:count => 2) %></a>
						</li>
						<li class="<%= 'active' if params[:controller] == 'emails' %>">
							<a href="/emails"><%= Email.new.model_name.human(:count => 2) %></a>
						</li>
						<% if !current_user.nil? && current_user.admin? %>
							<li class="<%= 'active' if params[:controller] == 'users' %>">
								<a href="/admin/users"><%= User.new.model_name.human(:count => 2) %></a>
							</li>
							<li class="<%= 'active' if params[:controller] == 'roles' %>">
								<a href="/admin/roles"><%= Role.new.model_name.human(:count => 2) %></a>
							</li>
						<% end %>
				      </ul>
				    </div>
				  </div>
				</nav>

				<div class="row" style="vertical-align: middle; ">
					<div class="col-md-4 col-lg-4">
						<ol class = "breadcrumb">
							<% @breadcrumbs.each_pair do |u, index| %>

							  <% if index == '' %>
								<li class = "active"><b><%= u %></b></li>
							  <% else %>
							  	<li><a href = "<%= index %>"><%= u %></a></li>
							  <% end %>
							<% end %>
						</ol>
					</div>
					<div class="col-md-4 col-lg-4"></div>
					<div class="col-md-4 col-lg-4" style="margin-top: 10px;">
						<div align="right" style="vertical-align: middle;">
							<%= t('helpers.logged_as') %> <%= link_to current_user.name, edit_user_registration_path %> <%= link_to(t('helpers.action.logout'), destroy_user_session_path, :method => :delete, :style => "margin-left: 5px;", :class => "btn btn-primary btn-xs") %>
						</div>
					</div>
				</div>

			<% else %>
				<!-- <div class="centre">
					<img  style="width: 70px; height: 70px; margin-bottom: -20px;" src="/assets/app_logo.png">
					<h2><%= t('app_title') %></h2>
				</div> -->

			<% end %>

			<!-- MESSAGES -->
			<div id="global_notice_box" class="alert alert-success fade in" style="display: none;">
				<a href="#" class="close" data-hide="alert">&times;</a>
				<div id="global_notice_massages">
					<%= notice %>
				</div>
			</div>

			<div id="global_info_box" class="alert alert-info fade in" style="display: none;">
				<div id="global_info_massages">

				</div>
			</div>

			<div id="global_error_box" class="alert alert-danger fade in" style="display: none;">
				<a href="#" class="close" data-hide="alert">&times;</a>
				<div id="global_error_messages">
					<%= alert %>
				</div>
			</div>

			<!-- BODY -->
			<%= yield -%>

			<% if user_signed_in? %>
				<div id="app_footer" class="navbar navbar-default" align="center">
					<%= t('app_title') + ' ' + Time.now.year.to_s %>

					<% if !current_user.nil? && current_user.admin? %>
						(<%= Rails.env %>)
					<% end %>

					<br/>
					<%= t('by_author')%>
				</div>
			<% end %>
	</div>
	</body>

	<script>

		jQuery.noConflict();
		$(function() {

			<% if notice %>
			$('#global_notice_box').show();
			<% end %>

			<% if alert %>
			$('#global_error_box').show();
			<% end %>

			$('.day_of_month').mask('99');

			$(".money").each(function(){
				if(!$(this).val() || $(this).val() == '0.0')
				$(this).val('0,00');
			});

			$('.money').mask('000.000.000,00', {
				reverse : true
			});
		})

		function display_error(message) {

			var result = '';

			if (Object.prototype.toString.call(message) === '[object Array]') {

				result += '<ul>';

				for (var i = 0; i < message.length; i++)
					result += '<li>' + message[i] + '</li>';

				result += '</ul>';
			} else {
				result = message;
			}

			hide_all_messages();
			to_top();
			$('#global_error_messages').html(result);
			$('#global_error_box').show();
		}

		function display_info(message) {

			hide_all_messages();
			to_top();
			$('#global_info_massages').html(message);
			$('#global_info_box').show();
		}

		function display_notice(message) {

			hide_all_messages();
			to_top();
			$('#global_notice_massages').html(message);
			$('#global_notice_box').show();
		}

		function hide_info()
		{
			$('#global_info_massages').html('');
			$('#global_info_box').hide();
		}

		function hide_notice()
		{
			$('#global_notice_massages').html('');
			$('#global_notice_box').hide();
		}

		function hide_errors()
		{
			$('#global_error_messages').html('');
			$('#global_error_box').hide();

			if($("#form_error_messages").length && $("#form_error_box").length)
			{
				$('#form_error_messages').html('');
				$('#form_error_box').hide();
			}
		}

		function hide_all_messages()
		{
			hide_info();
			hide_notice();
			hide_errors();
		}

		function parse_json_errors(xhr)
		{
			try
			{
				var json_obj = jQuery.parseJSON(xhr);

		        var output = new Array();
		        for (var i in json_obj)
		        	output.push(json_obj[i]);

		        display_error(output);
			}
			catch(e)
			{
				if (typeof xhr === 'string' || xhr instanceof String)
					return display_error(xhr);
			}
	    }

		// Handles alert hide, instead of dismiss;
		$(function() {
			$("[data-hide]").on("click", function() {
				$(this).closest("." + $(this).attr("data-hide")).hide();

			});

		});

		function to_top()
		{
		  $('html, body').animate({
			    scrollTop: $("body").offset().top
			}, 1000);
		}

	</script>
</html>